<!DOCTYPE html>
<html lang="es">

<head>
	<link rel="icon" type="image/png" sizes="16x16" href="/images/gfu.png">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Reporte de consultorio</title>
	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">


	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
<!--validaciones-->

	<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />

<link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">
<%- include("../partials/head") -%>
<style type="text/css">
	@media print{
	  @page {
		size: A4 landscape;
		margin: 0;
	}
	.margeni{
		width: 100%;
		border: 1px;
		position: relative;
		border-top-style: dashed;
		border-bottom-style: dotted;
		border-left-style: solid; 
	}
	#sacar{
		height: 9%;
	
		overflow-x: hidden;
	}
	.ordendetitulo{
		position: absolute;
		float: center;
		top: 20%;
		bottom: 1%;
		margin-top: 3%;
		margin-left: 12;
		padding-left: 30%;
		
		
	}
	.cafirma1{
    	width: 25%;
    	margin-left: 5%;
    	float:left;
    	border-top-style: dotted;
	}
	.cafirma2{
	    width: 25%;   
	    margin-right: 5%;
	    float: right;
	    border-top-style: dotted;
	}
	#sinMarge{
    top: 2%;
    border: 0px;
   padding-left: 0% ;
    padding-top: 0%;
   margin-left: 0%;
    margin-right: 0%;
  
    padding: 0px;
    
    position: relative;

    border-top-style: dashed;
    border-right-style: double;
  
    border-left-style: solid; 

}
.texTitulo1:before {
    content: " REPORTE DE CONSULTORIO";
    font-weight: negrita;
    color:black;
    font: small-caps 100%/200% serif;
    margin-bottom: 0;
}
 	}
</style>
<style>
	div.a {
		text-align: center;
	}
	h1.letras {
		font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;
	}
    .vertical-alignment-helper {
        display:table;
        height: 100%;
        margin-left: 41%;
    }
    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
</style>

</head>

<body class="light_theme  fixed_header left_nav_fixed" onload="actualizaReloj()">
	<div class="wrapper" id="reporte">
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div id="ocultoI" class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>
			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">
					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown">
                        <img src="/images/cajera.png" /><span class="user_adminname"><%=data_doc.data.personal.nombre%> <%=data_doc.data.personal.apellidop%></span> <b 
                        class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							<li> <a href="javascript:void(0);" data-target="#myModalCerrar" data-toggle="modal"><i class="fa fa-power-off"></i>Salir</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner">
			<!--\\\\\\\ inner start \\\\\\-->
			<div id="ocultoI" class="left_nav">
				<!--\\\\\\\left_nav start \\\\\\-->
				<div class="left_nav_slidebar">
					<ul>
						<li><a href="/paciente/home/<%=data_token.token_id%>/<%=data_token.token_p%>"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
						</li>
						<li > <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Fichas Medicas <span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul >
								<li> 
                                    <a href="/paciente/citas/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Citas Médicas</b> </a> 
                                </li>
                        	</ul>
                        </li>
                        <li class="left_nav_active theme_border" > <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reportes <span
                            class="plus"><i class="fa fa-plus"></i></span></a>
                            <ul class="opened" style="display:block" >
                                <li> <a href="/paciente/ReporConsultorio/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b class="theme_color">Reportes consultorio </b> </a></li>
                              
                                <li> <a href="/paciente/ReporCita/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Reporte de Citas </b> </a></li>                
                            </ul>
                        </li>
					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div id="sinMargen"  class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
					<br>
					<div class="row">
						<div class="col-lg-12  ">
							<!-- Content page -->
							<div id="main-content" class=" block-web ">
                                <div class="head">
                                    <div class="actions">
	                                    <!--<<<<<<<<<<<<<< IMAGEN en la hoja de impresion>>>>>>>>>>>>>>>>>>>>>>>-->
                                        <P class="dondeES"></P>
                                        <p class="telefo"></p>
                                        <!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->	
                                        <p class="fechaI" name="fechaConsulta" id="Fecha_Reloj"  readonly=""  cols="23" rows="1,9px" ></p>
                                    </div>
                                    <!--<<<<<<<<<<<<<< IMAGEN en la hoja de impresion>>>>>>>>>>>>>>>>>>>>>>>-->
                                    <div class="dim2 posiondeImagen">
                                        <img class="oculVistaReal "  src="/images/hospital1.png" />
                                        <p class="hospitalI"></p>
                                    </div>
                                    <!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
                                    <div id="ocultoI" class="header">
							        	<div class="info blue_symbols "> <i class="fa fa-list-alt icon "></i></div>
							        	<h3 class="content-header " class="text-titles"><span>&nbsp;&nbsp;&nbsp;</span>Reporte por Consultorio</h3>
                                    </div>
                                    <!--<<<<<<<<<<<<<< Solo se vera en la hoja de impresion>>>>>>>>>>>>>>>>>>>>>>>-->
								    <h4 class="texTitulo1 ordendetitulo center"></h4>
								    <!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
							    </div>
							    <div class="ocultarIm">
                                    <div class="col-md-12 row ">
                                           <br>
                                        <div class="col-md-14 row">
                                            <div class="col-md-2">
                                                <div class="form-group">Turno:
                                                    <select class="form-control" v-model="turno">
                                                        <option>Mañanas</option>
                                                        <option>Tardes</option>
                                                        <option>Noches</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">Fecha inicio:<br>
                                                    <input type='date' v-model="fecha_inicio" class="form-control"><br>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">Fecha final:<br>
                                                    <input type='date' v-model="fecha_final" class="form-control"><br>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">Consultorio De:<br>
                                                    <select class="form-control" name="especialidad" v-model="id" @click="list_doc()" >
                                                        <option disabled="disabled" value = "">Seleccione</option>
                                                        <% for (var i = 0; i < consultorios.length; i++) { %>
                                                            <option :value="<%=consultorios[i].id%>"> <%=consultorios[i].nombre%> </option>
                                                        <% } %>
                                                    </select>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-2 row">
                                                <div class="form-group"> Doctor:<br>
                                                    <select class="form-control" name="medico" >
                                                        <option disabled="disabled" value> Seleccione </option>
                                                        <option v-for="list of list_doc1" :value=" id_doctor = list.nombre.split('/')[1]"> {{list.nombre}} </option>
                                                    </select>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <p class="text-center">
                                        <button @click="data_resp = ''" type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"> <i class='fa fa-minus-square'></i> &nbsp;&nbsp; Limpiar</button>
                                        <button @click="buscar()" type="submit" class="btn btn-danger btn-raised" style="margin-right: 20px;"><i class='fa fa-check-square-o'></i>&nbsp;&nbsp; Buscar</button>
                                        <a onclick="window.print();" class="btn btn-warning btn-raised" style="margin-right: 20px;"> <i class='fa fa-print'></i>&nbsp;&nbsp; Imprimir</a> 
									</p>
							    </div>
                            </div>
                            <div id="main-content">
                                <section class="panel default blue_title h2">
                                    <div class="page-content">	
                                        <table class="table table-hover" >
                                            <thead>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Historial Clínico</th>
                                                    <th>Doctor</th>
                                                    <th>Especialidad</th>
                                                    <th>Saldo</th>
                                                    <th>Turno</th>
                                                </tr>
                                            </thead>
                                            <tbody>	
                                                <template v-if="data_resp == ''">
                                                    <% for (var i = 0; i < list_citas.length; i++) { %>
                                                        <tr class="gradeX">
                                                            <td><%=i+1%></td>
                                                            <td><%=list_citas[i].codigo_p%></td>
                                                            <td><%=list_citas[i].medico%></td>
                                                            <td><%=list_citas[i].especialidad%></td>
                                                            <td><%=list_citas[i].saldo_total%></td>
                                                            <td><%=list_citas[i].turno%></td>
                                                        </tr>	
                                                    <% } %>	
                                                </template>
                                                <template v-else>
                                                    <tr class="gradeX" v-for="(list, index) in  data_resp">
                                                        <td>{{index +1}}</td>
                                                        <td>{{list.codigo_p}}</td>
                                                        <td>{{list.medico}}</td>
                                                        <td>{{list.especialidad}}</td>
                                                        <td>{{list.saldo_total}}</td>
                                                        <td>{{list.turnoturno}}</td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                            <tfoot>
                                                <tr>id
                                                    <th>#</th>
                                                    <th>Historial Clínico</th>
                                                    <th>Doctor</th>
                                                    <th>Especialidad</th>
                                                    <th>Saldo</th>
                                                    <th>Turno</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                           
                                        <!--/porlets-content-->
                                    </div>
                                </section>
                            </div>
						</div>
						<!--/block-web-->
					</div>
				</div>
			</div>
			<!--\\\\\\\ container  end \\\\\\-->
		</div>
		<!--\\\\\\\ inner end\\\\\\-->id
	</div>
	<!--\\\\\\\ wrapper end\\\\\\-->
    <div class="modal fade" id="myModalCerrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="vertical-alignment-helper">
          <div class="modal-dialog vertical-align-center modal-sm ">
            <div class="modal-content">
              <br>
                <div class="center">
                  <i><img src="/images/salir.gif" width="100" height="100" /></i>
                </div>
                <div class="center">
                  <h5><b>¿Cerrar Sesión?</b></h5>
                </div>
              <div class="modal-footer">
                <div class="center">
                  <a href=""  class="btn btn-success"><i class="fa fa-check"></i><span>&nbsp;</span>Sí, Confirmar</a>
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;</span>No, Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div> 
    </div>

<!--====== Scripts -->
<script src="/js/fecha.js"></script>
<script src="/js/jquery-2.1.0.js"></script>id
<script src="/js/bootstrap.min.js"></script>
<script src="/js/common-script.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/plugins/data-tables/jquery.dataTables.js"></script>
<script src="/plugins/data-tables/DT_bootstrap.js"></script>
<script src="/plugins/data-tables/dynamic_table_init.js"></script>

<script src="/plugins/data-tables/dynamic_table_init2.js"></script>

<script src="/plugins/edit-table/edit-table.js"></script>
<script>
	jQuery(document).ready(function () {
		EditableTable.init();
	});
</script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- etiqueta sin internet-->
<script src="/js/jPushMenu.js"></script>
<script src="/js/side-chats.js"></script>


<!--validaciones-->
<script type="text/javascript"  src="/plugins/toggle-switch/toggles.min.js"></script> 
<script src="/plugins/checkbox/zepto.js"></script>id
<script src="/plugins/checkbox/icheck.js"></script>
<script src="/js/icheck-init.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> 
<script type="text/javascript" src="/js/form-components.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/jquery.inputmask.min.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/demo-mask.js"></script> 
<script type="text/javascript"  src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script> 
<script type="text/javascript"  src="/plugins/dropzone/dropzone.min.js"></script> 
<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>



<script src="/plugins/validation/parsley.min.js"></script>

<script>


/*==Porlets Actions==*/
    $('.minimize').click(function(e){
      var h = $(this).parents(".header");
      var c = h.next('.porlets-content');
      var p = h.parent();
      
      c.slideToggle();
      
      p.toggleClass('closed');
      
      e.preventDefault();
    });
    
    $('.refresh').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
      
      loading.appendTo(p);
      loading.fadeIn();
      setTimeout(function() {
        loading.fadeOut();
      }, 1000);
      
      e.preventDefault();
    });
    
    $('.close-down').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      
      p.fadeOut(function(){
        $(this).remove();
      });
      e.preventDefault();
    });

</script>


<script src="/sweetalert2/dist/sweetalert2.min.js"></script>

<script src="/moment/moment.js"></script>
<script src="/moment/locale/af.js"></script>
<script src="/url/export.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="/axios/dist/axios.min.js"></script>

<script>
    const reporte = new Vue({
        el:"#reporte",
        data:{
            url:data_url.url_front_end,
            data:'aljand321',
            id:'', // esto es el id de la consulta
            list_doc1:'',
            // datas para poder buscar
            id_doctor:'',
            fecha_inicio:'',
            fecha_final:'',
            turno:'',

            data_resp:''
        },
        methods:{
            list_doc(){
                fetch(this.url+'/paciente/Vue_list_doctores/'+this.id) // esta ruta es la que muestra todas las citas de todos loa pacientes
                .then(res => res.json()) 
                .catch(error => console.error('Error:', error))
                .then(doctores => {
                    this.list_doc1 = doctores
                    console.log( this.list_doc1, "  <<<<< esto es lo que quiero ")
                })
            },
            buscar(){
                if (this.id_doctor == ""){
                    swal.fire(
                        'Error!',
                        '<label style="color:red;">Selecione doctor</label>',
                        'error'
                    ) 
                }else{
                    var estado = {
                        fecha_inicio:this.fecha_inicio, 
                        fecha_final:this.fecha_final, 
                        turno: this.turno, 
                        id_esp: this.id
                    }
                    var esto = {
                      method: 'POST',
                      body: JSON.stringify(estado),
                      headers:{
                        'Content-type' : "application/json"
                      }
                    };
                    fetch(this.url+'/paciente/vue_repot_buscar/'+this.id_doctor,esto)
                    .then(res => res.json())
                    .catch(error => console.error('Error:', error))
                    .then(resp => {
                        console.log(resp)
                        if(resp.success == false){
                            swal.fire(
                              'Error!',
                              '<label style="color:red;">'+resp.msg+'</label>',
                              'error'
                            )
                        }else{
                            this.data_resp = resp
                        }

                    })
                }
                
            }
        }
    })
</script>


</body>

</html>