<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title >Administrador</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/animate.css" rel="stylesheet" type="text/css" />
  <link href="/css/admin.css" rel="stylesheet" type="text/css" />
  <link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
  <link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
  <link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
  <link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
  <link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
  <link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
  <link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
  <link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
  <link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
  <link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
  <link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
  <link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
  <link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
  <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
  
  <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />
  <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">
<style>
  .info2{ border-radius:100%; float: left; height:80px; width:80px; }
  .info2 .icon{ font-size:50px; color:#FFFFFF; float:left; margin-right:50px; margin:15px 9px 9px 18px;}
  .vertical-alignment-helper {
      display:table;
      height: 100%;
      margin-left: 41%;
  }
  .vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
</style>
<style>
      @media print{
        @page {
      top: 1cm;
      margin: 1cm; 
      border: 0px;
      size: auto;
      border-top-style: dashed;
      border-right-style: double;
      border-bottom-style: dotted;
      border-left-style: solid; 
    
    
      margin-top: 0px;
      border: 1px;
      padding: 0px;
      
      width: 0px;
      bottom: 0px;
    
      page-break-before: always
    }
    /*----------------------logo------------------------------*/
.dim2:before{
    content: url('../images/hospital1.png');    
}
.posiondeImagen{
    position:absolute;
    top:0;
    width:200px;
} 
.oculta1{
    display: none;
}
#ocultoI{
    display: none;   
}
#sinMargen{
  top: 9%;
    border: 0px;
   padding-left: 0% ;
  padding-top: 5%;
   margin-left: 0%;
    margin-right: 0%;
  
    padding: 0px;
    
    position: relative;
    border-top-style: dashed;
    border-right-style: double;
  
    border-left-style: solid; 
} 
.cleari12
{
clear:both !important;
} 
#cleari1
{
clear:both;
} 
.oculto-impresion, .oculto-impresion *{
    display: none !important;
  }
table {border-collapse:collapse; border: none;}
table td:last-child {display:none}
       table th:last-child {display:none}
}
</style>
<script type="text/javascript">
	// este scrip es para verificar si esta el token en local starge
	var data = localStorage.getItem('data')
	console.log(data)
	if (data == null){
		window.location.replace('/')
  }
  function delete_local_storage(){
		console.log ("ssss")
		localStorage.removeItem('data');
		localStorage.removeItem('url');
  }
  setTimeout(()=>{
    delete_local_storage()
    //window.location.replace('/')
  },500000);
</script>

</head>
<body class="light_theme  fixed_header left_nav_fixed">
  <div class="wrapper" id="personal">
    <div id="ocultoI" class="header_bar">
      <div class="brand">
        <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
      </div>
      <div class="header_top_bar">
        <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
        <div class="top_right_bar">
          <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown">
            <img src="/images/admin.png" /><span class="user_adminname"><span>&nbsp;&nbsp;</span><%=data_doc.data.personal.nombre%> <%=data_doc.data.personal.apellidop%></span> <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <div class="top_pointer"></div>
              <li> <a href="javascript:void(0);" data-target="#myModalCerrar" data-toggle="modal"  ><i class="fa fa-power-off"></i> Salir</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="inner">
      <div id="ocultoI" class="left_nav">
        <div class="left_nav_slidebar">
          <ul>
            <li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul >
                <li> <a href="/home/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Inicio</b> </a> </li>
              </ul>
            </li>
            <li > <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Admin Sistema  <span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul  >
                <li> <a href="/usuarios/usuarios/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Registros</b> </a> </li>
              </ul>
            </li>
            <li > <a href="javascript:void(0);"> <i class="fa fa-clipboard"></i>Servicios<span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul >
                <li> <a href="/cuaderno/especialidad/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Especialidades</b> </a> </li>
                <li> <a href="/cuaderno/Cuadernos/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Cuadernos</b> </a> </li>
                <li> <a href="/salas/salas/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Salas</b> </a> </li>
              </ul>
            </li>
            <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reportes<span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul class="opened" style="display:block">
                <li> <a href="/paciente_Inter/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte Pacientes</b> </a> </li>
                <li> <a href="/pacientead/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte Farmacia</b></a> </li>
                <li> <a href="/usuarios/roles1/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Reporte Personal</b> </a> </li>
                <li> <a href="/cuaderno/recuadernos/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte Servicios</b> </a> </li>
                <!--<li> <a href="/cuaderno/repespecialidad/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Espc.</b> </a> </li>-->
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-cogs"></i>CFG del Sistema<span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul>
                <li> <a href="/backup/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Backup</b> </a> </li>
                <li> <a href="/role/role/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b >Regs. Roles</b> </a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div  id= "sinMargen" class="contentpanel">
        <br>
        <div class="container clear_both padding_fix">
          <div class="row">
              <div class="col-md-12">
                <section class="panel default blue_title h2">
                  <div class="panel-heading">
                    <div class="info blue_symbols"><i class="fa fa-list-alt icon"></i></div>
                    <h3 class="content-header " style="color: black;">Reportes Personal</h3>
                        
                  </div>
                  <div class="panel-body">
                    <div class="tabs_right">
                      <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a data-toggle="tab" href="#Section1">Personal </a></li>
                        <li><a data-toggle="tab" href="#Section2">Cuentas </a></li>
                        
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div id="Section1" class="tab-pane fade in active">
                            <form id="ocultoI" @submit="filter_data" method="POST" class="form-horizontal" name="formulario1"  >
                              <div class="form-group">
                                <label class="col-sm-4 control-label">Desde:</label>
                                <div class="col-sm-4">
                                  <input v-model="fecha_inicio" type="date"  class="form-control" >
                                </div>
                              </div><!--/form-group--> 
                              <div class="form-group">
                                <label  class="col-sm-4 control-label">Hasta:</label>
                                <div class="col-sm-4">
                                  <input v-model="fecha_final" type="date"  class="form-control" >
                                </div>
                              </div><!--/form-group--> 
                              <!--<input type="text" name="cargo" value="medico"> -->
                              <!-- <div class="form-group">
                                  <label  class="col-sm-4 control-label">Especifica:</label>
                                  <div class="col-sm-4">
                                      <select class="seleccion" name="cosa" onchange="cambia()">
                                          <option value="0">---Seleccione---
                                          <option value="1">Personal
                                          <option value="2">Tecnico
                                        </select>
                                  </div>
                                </div> --><!--/form-group-->
        
                                <div class="form-group">
                                  <label  class="col-sm-4 control-label">tipo:</label>
                                  <div class="col-sm-4">
                                    <select  class="form-control" id="source" v-model="cargo" required placeholder="">
                                      <option value="" selected disabled hidden>--Seleccione--</option>
                                      <option value="medico">MÉDICO</option>
                                      <option class="uppercase"value="enfermera">ENFERMERA</option>
                                      <option class="uppercase" value="personal">PERSONAL</option>
                                      <option class="uppercase" value="farmaseutico">FARMACEUTICO</option>
                                      <option value="ECOGRAFIA">LABORATORISTA DE ECOGRAFIA</option>
                                      <option value="Rayos_x">LABORATORISTA DE RAYOS X</option>
                                      <option value="LABORATORIO">LABORATORISTA</option>
                                    </select>
                                  </div>
                                </div> 
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-10">
                                      <button type="submit" class="btn btn-primary"><i class="fa fa-search" ></i><span>&nbsp;</span>Por Rango<span>&nbsp;</span></button>
                                      <a href="/usuarios/allreg/<%=data_doc.data.token_id%>" type="submit" class="btn btn-default"><i class="fa fa-search" ></i><span>&nbsp;</span>Total<span>&nbsp;</span></a>
                                    </div>
                                  </div><!--/form-group--> 
                            </form>
                            <div  id="ocultoI" class="form-group">
                                <div class="col-sm-offset-9 col-sm-10">
                                  <button type="submit" class="btn btn-warning btn-icon"><i class="fa fa-print"></i><span>&nbsp;</span>Imprimir<span>&nbsp;</span></button>
                                </div>
                              </div><!--/form-group--> 
                              <template v-if ="list != ''">
                                  <div class="form-group">
                                      <br><br><br>
                                      <div class="col-sm-offset-8 col-sm-10">
                                          <input type="text" placeholder="Buscar" class="form-control " style="width:200px;" v-model="buscar_in_list" >
                                      </div>
                                    </div>
                                    <br>
                                  <div class="table-responsive">
                                    <table  class=" table table-bordered table-striped ">
                                      
                                      <thead>
                                        <tr>
                                          <th class="text-center">Fecha Creación</th>
                                          <th class="text-center">Nombre</th>
                                          <th class="text-center">Apellido Paterno</th>
                                          <th class="text-center">Apellido Materno</th>	
                                          <th class="text-center">N° C.I.</th>	
                                          <th class="text-center">Telf.-Cel</th>	
                                          <th class="text-center">Cargo</th>	
                                          
                                          <th id="ocultoI" class="text-center">Optiones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        
                                        <tr v-for = "data in searchNoticia">
                                          <td class="text-center">{{data.createdAt.split("T")[0]}}</td>
                                          <td class="text-center ">{{data.nombre}}</td>
                                          <td class="text-center">{{data.apellidop}}</td>
                                          <td class="text-center">{{data.apellidom}}</td>
                                          <td class="text-center">{{data.ci}}</td>
                                          <td class="text-center">{{data.telefono}}</td>
                                          <td class="text-center">{{data.cargo}}</td>
                                          <td class="text-center" id="ocultoI"><a :href="'/usuarios/cuentas/'+data.id+'/<%=data_doc.data.token_id%>'" data-toggle="tooltip" class="btn  tooltips" data-original-title="Imprimir"><i class="fa fa-print " style="color:rgb(168, 168, 16)"></i></a>
                                          </td>
                                        </tr>
                                          
                                      </tbody>
                                    </table>
                                  </div>
                              </template>
                              <template v-else>
                                  <div class="form-group">
                                      <br><br><br>
                                      <div class="col-sm-offset-8 col-sm-10">
                                          <input type="text" placeholder="Buscar" class="form-control " style="width:200px;" v-model="buscar_in_list1" >
                                      </div>
                                    </div>
                                    <br>
                                  <div class="table-responsive">
                                    <table  class=" table table-bordered table-striped ">
                                      
                                      <thead>
                                        <tr>
                                          <th class="text-center">Fecha Creación</th>
                                          <th class="text-center">Nombre</th>
                                          <th class="text-center">Apellido Paterno</th>
                                          <th class="text-center">Apellido Materno</th>	
                                          <th class="text-center">N° C.I.</th>	
                                          <th class="text-center">Telf.-Cel</th>	
                                          <th class="text-center">Cargo</th>	
                                          
                                          <th id="ocultoI" class="text-center">Optiones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        
                                        <tr v-for = "data in Buscar">
                                          <td class="text-center">{{data.createdAt.split("T")[0]}}</td>
                                          <td class="text-center ">{{data.nombre}}</td>
                                          <td class="text-center">{{data.apellidop}}</td>
                                          <td class="text-center">{{data.apellidom}}</td>
                                          <td class="text-center">{{data.ci}}</td>
                                          <td class="text-center">{{data.telefono}}</td>
                                          <td class="text-center">{{data.cargo}}</td>
                                          <td class="text-center" id="ocultoI"><a :href="'/usuarios/cuentas/'+data.id+'/<%=data_doc.data.token_id%>'" data-toggle="tooltip" class="btn  tooltips" data-original-title="Imprimir"><i class="fa fa-print " style="color:rgb(168, 168, 16)"></i></a>
                                          </td>
                                        </tr>
                                          
                                      </tbody>
                                    </table>
                                  </div>
                              </template>
                              
                        </div>
                        <div id="Section2" class="tab-pane fade">
                            <form id="ocultoI" @submit="filter_data1" method="POST" class="form-horizontal"   >
                              <div class="form-group">
                                <label class="col-sm-4 control-label">Desde:</label>
                                <div class="col-sm-4">
                                  <input v-model="fecha_inicio" type="date"  class="form-control" >
                                </div>
                              </div>
                              <div class="form-group">
                                <label  class="col-sm-4 control-label">Hasta:</label>
                                <div class="col-sm-4">
                                  <input v-model="fecha_final" type="date"  class="form-control" >
                                </div>
                              </div>
        
                                <div class="form-group">
                                  <div class="col-sm-offset-4 col-sm-10">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search" ></i><span>&nbsp;</span>Por Rango<span>&nbsp;</span></button>
                                    <a href="/usuarios/allcuentas/<%=data_doc.data.token_id%>" type="submit" class="btn btn-default"><i class="fa fa-search" ></i><span>&nbsp;</span>Total<span>&nbsp;</span></a>
                                  </div>
                                </div><!--/form-group--> 
                            </form>
                            <div  id="ocultoI" class="form-group">
                                <div class="col-sm-offset-9 col-sm-10">
                                  <button type="submit" class="btn btn-warning btn-icon"><i class="fa fa-print"></i><span>&nbsp;</span>Imprimir<span>&nbsp;</span></button>
                                </div>
                              </div><!--/form-group--> 
                              <template v-if ="list_usu != ''">
                                  <div class="form-group">
                                      <br><br><br>
                                      <div class="col-sm-offset-8 col-sm-10">
                                          <input type="text" placeholder="Buscar" class="form-control " style="width:200px;" v-model="buscar_in_list" >
                                      </div>
                                    </div>
                                    <br>
                                  <div class="table-responsive">
                                    <table  class=" table table-bordered table-striped " >
                                      <thead>
                                        <tr>
                                          <th class="text-center">Fecha Creación</th>
                                          <th class="text-center">Cuenta</th>
                                          <th class="text-center">Email</th>
                                          <th class="text-center">Nombre Personal</th>
                                          
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr v-for="data1 in BucarUser">
                                          <td class="text-center">{{data1.createdAt.split("T")[0]}}</td>
                                          <td class="text-center">{{data1.username}}</td>
                                          <td class="text-center">{{data1.email}}</td>
                                          <td class="text-center">{{data1.Registro_personal.nombre}},{{data1.Registro_personal.apellidop}}</td>
                                          
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                              </template>
                              <template v-else>
                              <div class="form-group">
                                <br><br><br>
                                <div class="col-sm-offset-8 col-sm-10">
                                    <input type="text" placeholder="Buscar" class="form-control " style="width:200px;" v-model="buscar_in_list1" >
                                </div>
                              </div>
                              <br>
                            <div class="table-responsive">
                              <table  class=" table table-bordered table-striped " >
                                <thead>
                                  <tr>
                                    <th class="text-center">Fecha Creación</th>
                                    <th class="text-center">Cuenta</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Nombre Personal</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="data1 in BucarUser1">
                                    <td class="text-center">{{data1.createdAt.split("T")[0]}}</td>
                                    <td class="text-center">{{data1.username}}</td>
                                    <td class="text-center">{{data1.email}}</td>
                                    <td class="text-center">{{data1.Registro_personal.nombre}} {{data1.Registro_personal.apellidop}} {{data1.Registro_personal.apellidom}}</td>
                                    
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </template>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModalCerrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center modal-sm ">
        <div class="modal-content">
          <br>
            <div class="center">
              <i><img src="/images/salir.gif" width="100" height="100" /></i>
            </div>
            <div class="center">
              <h5><b>¿Cerrar Sesión?</b></h5>
            </div>
          <div class="modal-footer">
            <div class="center">
              <a href="/delete_token/<%=data_doc.data.token_id%>" onclick="delete_local_storage()"  class="btn btn-success"><i class="fa fa-check"></i><span>&nbsp;</span>Sí, Confirmar</a>
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;</span>No, Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <script src="/js/jquery-2.1.0.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/common-script.js"></script>
  <script src="/js/jquery.slimscroll.min.js"></script>
  <script type="text/javascript"  src="/plugins/toggle-switch/toggles.min.js"></script> 
  <script src="/plugins/checkbox/zepto.js"></script>
  <script src="/plugins/checkbox/icheck.js"></script>
  <script src="/js/icheck-init.js"></script>
  <script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
  <script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> 
  <script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> 
  <script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> 
  <script type="text/javascript" src="/js/form-components.js"></script> 
  <script type="text/javascript"  src="/plugins/input-mask/jquery.inputmask.min.js"></script> 
  <script type="text/javascript"  src="/plugins/input-mask/demo-mask.js"></script> 
  <script type="text/javascript"  src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script> 
  <script type="text/javascript"  src="/plugins/dropzone/dropzone.min.js"></script> 
  <script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>
  
  <script src="/js/toastr.js"></script>
  <script src="/sweetalert2/dist/sweetalert2.min.js"></script>
  
  
  <script src="/plugins/validation/parsley.min.js"></script>
  <script src="/plugins/data-tables/jquery.dataTables.js"></script>
  <script src="/plugins/data-tables/DT_bootstrap.js"></script>
  <script src="/plugins/data-tables/dynamic_table_init.js"></script>
  <script src="/plugins/edit-table/edit-table.js"></script>
  
  <script>
  
  
  /*==Porlets Actions==*/
      $('.minimize').click(function(e){
        var h = $(this).parents(".header");
        var c = h.next('.porlets-content');
        var p = h.parent();
        
        c.slideToggle();
        
        p.toggleClass('closed');
        
        e.preventDefault();
      });
      
      $('.refresh').click(function(e){
        var h = $(this).parents(".header");
        var p = h.parent();
        var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
        
        loading.appendTo(p);
        loading.fadeIn();
        setTimeout(function() {
          loading.fadeOut();
        }, 1000);
        
        e.preventDefault();
      });
      
      $('.close-down').click(function(e){
        var h = $(this).parents(".header");
        var p = h.parent();
        
        p.fadeOut(function(){
          $(this).remove();
        });
        e.preventDefault();
      });
  
  </script>
  <script>
    /*  <%if(msg) { %> */
      /*  <%if(msg.data.success == false) { %> */
       msg_false()
       function msg_false(){
       swal.fire(
         'Error!',
         '<label style="color:red;">'+`<%=msg.data.data%>`+'</label>',
         'error'
       )
       }
       /* <% } else {%> */
       msg_true()
       function msg_true(){
       swal.fire(
         'Success!',
         '<label style="color:green;">'+ `<%=msg.data.data%>` +'</label>',
         'success'
       )
       }
      /*  <% } %> */
    /*  <% } %> */
  </script>
  <script src="/js/jPushMenu.js"></script> 
  <script src="/js/side-chats.js"></script>
  
  <script src="/url/export.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="/axios/dist/axios.min.js"></script>



<script>
  const personal = new Vue({
    el:"#personal",
    data:() => ({
      url:data_url,
      buscar_in_list:'',
      buscar_in_list1:'',
      cargo:'',
      list:[],
      list_usu:[],
      fecha_inicio:'',
      fecha_final:'',
      
      list_est:[],
      list_est_user:[]
    }),
    mounted(){
      fetch(this.url.url_front_end+'/usuarios/vue_personal')
      .then(res => res.json())
      .then(data => {
        this.list_est = data
      })
      fetch(this.url.url_front_end+'/usuarios/vue_alluser')
      .then(res => res.json())
      .then(data => {
        this.list_est_user = data
      })

    },
    methods:{
      filter_data(e){
        e.preventDefault();
        var datos = {
          cargo: this.cargo,
          fecha_inicio: this.fecha_inicio,
          fecha_final: this.fecha_final
        };  
       var esto = {
        method: 'post',
        body: JSON.stringify(datos),
        headers:{
          'Content-type' : "application/json"
        }
      };
      fetch(this.url.url_front_end+'/usuarios/vue_filter_datas',esto)
      .then(res => res.json())
      .catch(error => console.error('Error:', error))
      .then(data1 => {
        if(data1.success == false){
          swal.fire(
            'Error!',
            '<label style="color:red;">'+data1.msg+'</label>',
            'error'
          )
        }else{
          this.list = data1
          console.log(data1, "  <<<<<<<<<<<<<<<<  asdasd")
        }
        
      })
      },
      filter_data1(e){
        e.preventDefault();
        var datos = {
          fecha_inicio: this.fecha_inicio,
          fecha_final: this.fecha_final
        };  
       var esto = {
        method: 'post',
        body: JSON.stringify(datos),
        headers:{
          'Content-type' : "application/json"
        }
      };
      fetch(this.url.url_front_end+'/usuarios/vue_filter_datas1',esto)
      .then(res => res.json())
      .catch(error => console.error('Error:', error))
      .then(data1 => {
        if(data1.success == false){
          swal.fire(
            'Error!',
            '<label style="color:red;">'+data1.msg+'</label>',
            'error'
          )
        }else{
          this.list_usu = data1
          console.log(data1, "  <<<<<<<<<<<<<<<<  asdasd")
        }
        
      })
      }
    },
    computed:{
      searchNoticia: function () {
        return this.list.filter((item) => 
        item.createdAt.toLowerCase().includes(this.buscar_in_list.toLowerCase()) 
        || item.nombre.toLowerCase().includes(this.buscar_in_list.toLowerCase()) 
        || item.apellidop.toLowerCase().includes(this.buscar_in_list.toLowerCase()))
      },
      Buscar: function () {
        return this.list_est.filter((item) => 
        item.createdAt.toLowerCase().includes(this.buscar_in_list1.toLowerCase()) 
        || item.nombre.toLowerCase().includes(this.buscar_in_list1.toLowerCase()))
      },
      BucarUser: function () {
        return this.list_usu.filter((item) => 
        item.createdAt.toLowerCase().includes(this.buscar_in_list.toLowerCase()) 
        || item.username.toLowerCase().includes(this.buscar_in_list.toLowerCase()))
      },
      BucarUser1: function () {
        return this.list_est_user.filter((item) => 
        item.createdAt.toLowerCase().includes(this.buscar_in_list1.toLowerCase()) 
        || item.username.toLowerCase().includes(this.buscar_in_list1.toLowerCase()))
      }
    }
  })
</script>
    

</body>
</html>