<!DOCTYPE html>
<html lang="es">

<head>
	<title>busca pacientes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">


	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
	<link href="/plugins/calendar/fullcalendar.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/calendar/fullcalendar.print.css" rel="stylesheet" type="text/css" />
	
	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
	</style>
			  <style>
			* {
			margin:0;
			padding: 0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		  }
		  
		  
		  .widget {
			width: 80%;
			margin: 2em;
			/*margin:32px; */
		  }
		  
		  .widget p {
			display: inline-block;
			line-height: 1em;
		  }
		  
		  .fecha {
			font-family: Oswald, Arial;
			text-align: center;
			font-size:1.5em;
			margin-bottom: 0.3125rem;
			/*margin-bottom: 5px;*/
			background: rgba(0,0,0,.5);
			padding: 20px;
			width: 100%;
		  }
		  
		  .reloj {
			font-family: Oswald, Arial;
			width: 100%;
			padding: 20px;
			font-size: 4em;
			text-align: center;
			background: rgba(0,0,0,.5);
		  }
		  
		  .reloj .caja-segundos {
			display: inline-block;
		  }
		  
		  .reloj .segundos,
		  .reloj .ampm {
			font-size: 2rem;
			display: block;
		  }
		  td.uppercase
		  {
			text-transform: uppercase;
		  }
		  .vertical-alignment-helper {
			display:table;
			height: 100%;
			margin-left: 41%;
		  }
		  .vertical-align-center {
			/* To center vertically */
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		  }
		  </style>
	
</head>
<script>
	/* <%if(login != null){%> */
		var esto  = `<%- JSON.stringify(token) %>`
		var url = "/laboratorios/home/"
		localStorage.setItem('data', esto ) 
		localStorage.setItem('url', url) 
	/* <% } else { %> */
		/* 	<%if(token == "") {%> */
			console.log("no hay token")
		/* 	<% } else { %> */
				var data = localStorage.getItem('data')
				if (data == null){     // esto no esta funcionando como deberia de fucnionar 
					window.location.replace('/')
				}else{
					var esto  = `<%- JSON.stringify(token) %>`
					var url = "/laboratorios/home/"
					localStorage.setItem('data', esto ) 
					localStorage.setItem('url', url) 
				}
		/* 	<% } %> */
	/* <% } %> */

</script>

<body class="light_theme  fixed_header left_nav_fixed">
	<!-- Content page-->
	<div class="wrapper">
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>

			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/user.png" /><span class="user_adminname"> <%=data_token.personal.nombre%> <%=data_token.personal.apellidop%></span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							<li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
							<li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
							<li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
							<li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner">
			<!--\\\\\\\ inner start \\\\\\-->
			<div class="left_nav">

				<!--\\\\\\\left_nav start \\\\\\-->

				<div class="left_nav_slidebar">
					<ul>
						<li class="left_nav_active theme_border"><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul class="opened" style="display:block">
								<li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b class="theme_color">Inicio</b> </a> </li>
							</ul>
						</li>
						<li> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Laboratorio<span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul >
								<li> <a href="/laboratorios/view_list_lab/<%=data_token.personal.cargo%>/<%=data_token.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Lista de Laboratorio</b> </a> </li>
							</ul>
						</li>
						

					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
						<div class="row">
								<div class="col-sm-12">
									<div class="user-profile-sidebar profile_widget">
										<div class="row"> <img src="/images/medico.png"> 
											<div class="user-identity"> 
												<h4>Bienvenido <strong><%=data_token.personal.nombre%> <%=data_token.personal.apellidop%></strong></h4>
												<p><i class=""></i> </p>
											</div>
										</div>
									</div>
									
									<div class="widget-status-data" onclick="location.href='/laboratorios/view_list_lab/<%=data_token.personal.cargo%>/<%=data_token.token_id%>';"style="cursor: pointer;" >
										<div class="row">
											<% if(lista_pacientes != 0) { %>	
											<div class="col-md-4">
												<h5><strong></strong><br> Tiene</h5>
											</div>	
											<div class="col-md-4">
												<h5><strong><%=lista_pacientes%></strong><br>
													Examen</h5>
											</div>
											<% } else { %>
											<div class="col-md-4">
												<h5><strong></strong><br>No tiene</h5>
											</div>
											<div class="col-md-4">
												<h5><strong>Ni un</strong><br>
													Paciente </h5>
											</div>
											<% } %>
											<div class="col-md-4">
												<h5><strong></strong><br>
													Para examinar</h5>
											</div>
										</div>
									</div>
							
								</div>
							</div><br>
							<br>				
							<div class="row">
								<div class="col-md-12">	
									  <div class="col-md-6">
										<div class="">
											
										  </div>
										<div class="col-md-12 ">
											<div class="widget">
												<div class="fecha">
												  <p id="diaSemana" class="diaSemana">Martes</p>
												  <p id="dia" class="dia">27</p>
												  <p>de </p>
												  <p id="mes" class="mes">Octubre</p>
												  <p>del </p>
												  <p id="year" class="year">2015</p>
												</div>
												<div class="reloj">
												  <p id="horas" class="horas">11</p>
												  <p>:</p>
												  <p id="minutos" class="minutos">48</p>
												  <p>:</p>
												  <div class="caja-segundos">
													<p id="ampm" class="ampm">AM</p>
													<p id="segundos" class="segundos">12</p>
												  </div>
												</div>
											</div>
										</div>	
								  </div>
								  <div class="col-md-6 ">
									<div id='calendar'></div>
									<!--/calendar end-->
								  </div>
								</div>
							</div>
					<br>

					<!--\\\\\\\ container  end \\\\\\-->
				</div>
				<!--\\\\\\\ content panel end \\\\\\-->
			</div>
			<!--\\\\\\\ inner end\\\\\\-->
		</div>
		<!--\\\\\\\ wrapper end\\\\\\-->







		<!--====== Scripts -->
		
		<script src="/js/jquery-2.1.0.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/common-script.js"></script>
		<script src="/js/jquery.slimscroll.min.js"></script>
		<script src="/plugins/data-tables/jquery.dataTables.js"></script>
		<script src="/plugins/data-tables/DT_bootstrap.js"></script>
		<script src="/plugins/data-tables/dynamic_table_init.js"></script>
		<script src="/plugins/edit-table/edit-table.js"></script>
		<script>
			jQuery(document).ready(function () {
				EditableTable.init();
			});
		</script>

		<script src="/js/jPushMenu.js"></script>
		<script src="/js/side-chats.js"></script>
		<script src="/plugins/calendar/fullcalendar.min.js"></script>
<script src="/plugins/calendar/external-draging-calendar.js"></script>


</body>

</html>