<!DOCTYPE html>
<html lang="es">

<head>
	<link rel="icon" type="image/png" sizes="16x16" href="/images/gfu.png">
	<title>Laboratorio</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">


	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">



	<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
	<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />

	<link href="/css/toastr.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate1.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">
	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
		.vertical-alignment-helper {
          display:table;
          height: 100%;
          margin-left: 41%;
        }
        .vertical-align-center {
          /* To center vertically */
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
	</style>

</head>
<script type="text/javascript">
	// este scrip es para verificar si esta el token en local starge
	var data = localStorage.getItem('data')
	
	if (data == null){
		window.location.replace('/')
  }
  function delete_local_storage(){
		console.log ("ssss")
		localStorage.removeItem('data');
		localStorage.removeItem('url');
  }
  setTimeout(()=>{
    delete_local_storage()
    //window.location.replace('/')
  },500000);
</script>
<body class="light_theme  fixed_header left_nav_fixed">
	<!-- Content page-->
	<div class="wrapper">
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>

			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/medico.png" /><span class="user_adminname"><span>&nbsp;&nbsp;</span>  <%=data_doc.data.personal.nombre%> <%=data_doc.data.personal.apellidop%></span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							<li> <a href="javascript:void(0);"data-target="#myModalCerrar" data-toggle="modal"><i class="fa fa-power-off"></i> Salir</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner" id="laboratorio">
			<!--\\\\\\\ inner start \\\\\\-->
			<div class="left_nav">

				<!--\\\\\\\left_nav start \\\\\\-->

				<div class="left_nav_slidebar">
					<ul>
						<li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span
									class="left_nav_pointer"></span> <span class="plus"><i
										class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href="/laboratorios/home/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b>Inicio</b> </a>
								</li>
							</ul>
						</li>
						<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i
									class="fa fa-tasks"></i> Laboratorio<span class="plus"><i
										class="fa fa-plus"></i></span></a>
							<ul class="opened" style="display:block">
								<li> <a href="/laboratorios/view_list_lab/<%=data_doc.data.personal.cargo%>/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Lista pacientes</b> </a> </li>
								<li> <a href="/paciente/buscaPaciente"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Buscar Pacinete</b> </a> </li>

							</ul>
						</li>


					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
					<br>
					<br>
					<br>
					<div class="row">

						<div class="col-lg-12 ">


							<!--\\\\\\\ contentpanel start\\\\\\-->
							<div class="row">
								<div class="col-md-12">
									<div class="block-web">
										<div class="header">
											<div class="info blue_symbols "> <i class="fa fa-stack-overflow icon "></i>
											</div>
											<h3 class="content-header " class="text-titles">
												<span>&nbsp;&nbsp;&nbsp;</span>Laboratorio</h3>
										</div>
										<br>
										<br>
										<div class="porlets-content">
											<div class="form-group">
												<div class="row">

												
													<div class="col-md-12">												

														<section class="panel default blue_title h2">
															<div class="col-md-6 panel panel-default">
																<div class=" panel panel-default">
																	<li href="#ac3-1" data-parent="#accordion3"
																		data-toggle="collapse"
																		class=" list-group-item  blue_bg text-center">
																		Datos Personales</li>
																</div>
																<div style="height: 0px;" id="ac3-1"
																	class="panel-collapse collapse in">
																	<div class="">

																		<div class="col-md-5">
																			<div class="entrada ">
																				<label class=" ">N° de Historia:</label>
																				<p><b><%=data_paciente[0].numeroHistorial%></b>
																				</p>
																				<input type="hidden"
																					name="numeroHistorial"
																					
																					class="form-control" readonly=""
																					value="Read only text goes here">
																			</div>
																		</div>
																		<div class="col-sm-6 col-sm-12">
																			<div class="entrada">
																				<label class=" ">Nombre
																					Completo:</label>
																				<p><b><%=data_paciente[0].nombre%> <%=data_paciente[0].apellidop%> <%=data_paciente[0].apellidom%></b>
																				</p>
																				<input type="hidden"
																					name="nombre apellidop apellidom"
																					value=""
																					class="form-control" readonly=""
																					value="Read only text goes here">
																			</div>
																		</div>
																		<div class="col-sm-4 col-sm-4">
																			<div class="entrada">
																				<label class=" "> Sexo: </label>
																				<p><b><%=data_paciente[0].sexo%></b></p>
																				<input type="hidden" name="sexo"
																					value=""
																					class="form-control" readonly=""
																					value="Read only text goes here">
																			</div>
																		</div>
																		<div class="col-sm-8 col-sm-9">
																			<div class="entrada">
																				<label class="">Fecha de
																					Nacimiento:</label>
																				<p><b><%=data_paciente[0].fechanacimiento%></b>
																				</p>
																				<input type="hidden" name="fechanacimiento" value="" class="form-control" readonly="" value="Read only text goes here">
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-md-6 panel panel-default">
																<div class=" panel panel-default">
																	<li href="#ac3-2" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center"> Datos de la Cita</li>
																</div>
																<div style="height: 0px;" id="ac3-2"
																	class="panel-collapse collapse in">

																	<div class="">
																		<div class="col-sm-6 ">
																			<div class="entrada">
																				<label class=" ">Fecha y hora:</label>
																				<p><b><%=one_lab[0].fecha%> <%=one_lab[0].hora%></b></p>
																			</div>
																		</div>
																		<div class="col-sm-6 col-sm-6">
																			<div class="entrada">
																				<label class="">Especialidad:</label>
																				<p><b><%=one_lab[0].consultorio%></b>
																				</p>
																				<input type="hidden" name="tipoConsulta" class="form-control" readonly="" value="Read only text goes here">
																			</div>
																		</div>
																		<div class="col-sm-12 col-sm-12">
																			<div class="entrada">
																				<label class="">Profecional Médico:</label>
																				<p><b><%=one_lab[0].nombre_doctor%></b>
																				</p>
																				<input type="hidden"  class="form-control" readonly="" value="Read only text goes here">
																			</div>
																		</div>
																	</div>

																</div>
															</div>
														</section>
													</div>
													<label> <b>Peticiones del Médico</b></label>
													<div class=" col-md-14" >
														<div class="col-md-6">
															<input type="hidden" :value=" id_lab = '<%=one_lab[0].id%>'">
															<% for (var i = 0; i < one_lab[0].examen.length; i++) { %>

																<label> <b><%=one_lab[0].examen[i].estudio%></b>  </label>
																<p> <%=one_lab[0].examen[i].descripcion%></p>
															<% } %>
															
															<div v-if="examen_x != ''" class="col-md-14">																									
																<div class="col-md-14">
																	
																	<div class="col-md-4" v-if="examen_x.torax != ''">
																		<p>Torax:</p>
																		<ul v-for="list in examen_x.torax">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																	<div class="col-md-4" v-if="examen_x.abdomen != ''">
																		<p>Abdomen:</p>
																		<ul v-for="list in examen_x.abdomen">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																	<div class="col-md-4" v-if="examen_x.craneo_Macizo_Facial != ''">
																		<p>Craneo Macizo Facial:</p>
																		<ul v-for="list in examen_x.craneo_Macizo_Facial">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																
																	<div class="col-md-4" v-if="examen_x.Placas_Radiograficas != ''">
																		<p>Placas Radiograficas:</p>
																		<ul v-for="list in examen_x.Placas_Radiograficas">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																	<div class="col-md-4" v-if="examen_x.Columna_vertebral != ''">
																		<p>Columna vertebral:</p>
																		<ul v-for="list in examen_x.Columna_vertebral">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																	<div class="col-md-4" v-if="examen_x.Miembros_superiores != ''">
																		<p>Miembros superiores:</p>
																		<ul v-for="list in examen_x.Miembros_superiores">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																		<div class="col-md-4" v-if="examen_x.Miembros_inferiores != ''">
																		<p>Miembros inferiores:</p>
																		<ul v-for="list in examen_x.Miembros_inferiores">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																
																</div>									
															</div>

															<div v-if="examen_lab != ''" class="col-md-14">
																	<label for="">Examene diagnosticado</label><br>
																	<div class="col-md-5" v-if="examen_lab.Hemotología != ''">
																		<p>Hemotología:</p>
																		<ul v-for="list in examen_lab.Hemotología">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																	<div class="col-md-5" v-if="examen_lab.Química_Sanguínea != ''">
																		<p>Química Sanguínea:</p>
																		<ul v-for="list in examen_lab.Química_Sanguínea">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																	<div class="col-md-5" v-if="examen_lab.Orina != ''">
																		<p>Orina:</p>
																		<ul v-for="list in examen_lab.Orina">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																
																	<div class="col-md-5" v-if="examen_lab.Prueba_Embarazo != ''">
																		<p>Prueba Embarazo:</p>
																		<ul v-for="list in examen_lab.Prueba_Embarazo">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																	<div class="col-md-5" v-if="examen_lab.Heces != ''">
																		<p>Heces:</p>
																		<ul v-for="list in examen_lab.Heces">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																	<div class="col-md-5" v-if="examen_lab.Expectoración != ''">
																		<p>Expectoración:</p>
																		<ul v-for="list in examen_lab.Expectoración">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																	<div class="col-md-5" v-if="examen_lab.Exámenes_Especiales != ''">
																		<p>Exámenes Especiales:</p>
																		<ul v-for="list in examen_lab.Exámenes_Especiales">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																	<div class="col-md-5" v-if="examen_lab.Perfil_Preoperatorio != ''">
																		<p>Perfil Preoperatorio:</p>
																		<ul v-for="list in examen_lab.Perfil_Preoperatorio">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																	<div class="col-md-5" v-if="examen_lab.Perfil_Obstetrico != ''">
																		<p>Perfil Obstetrico:</p>
																		<ul v-for="list in examen_lab.Perfil_Obstetrico">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																	<div class="col-md-5" v-if="examen_lab.Perfil_Reumático != ''">
																		<p>Perfil Reumático:</p>
																		<ul v-for="list in examen_lab.Perfil_Reumático">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																	<div class="col-md-5" v-if="examen_lab.Perfil_hepatico != ''">
																		<p>Perfil hepatico:</p>
																		<ul v-for="list in examen_lab.Perfil_hepatico">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																	<div class="col-md-5" v-if="examen_lab.Perfil_lipidico != ''">
																		<p>Perfil lipidico:</p>
																		<ul v-for="list in examen_lab.Perfil_lipidico">
																			<li>{{list.descripcion}}</li>
																		</ul> 
																	
																	</div> 
																
															</div>
														</div>
														
													</div>

													<div class="col-md-14">
														
																
														<div class="col-md-12">

															<h3 class="content-header center">
															<span>&nbsp;&nbsp;&nbsp;</span>Llenado del laboratorio</h3>
																
																<%if(data_one_resp_lab == "") { %>

																	<form action="/laboratorios/vue_register_respLab/<%=one_lab[0].id%>/<%=data_paciente[0].numeroHistorial%>/<%=data_doc.data.token_id%>" method="POST" enctype="multipart/form-data">
																		<input type="hidden" name="historial" value="<%=data_paciente[0].numeroHistorial%>">
																		<input type="hidden" name="nombre_user" value="<%=data_doc.data.personal.nombre%> <%=data_doc.data.personal.apellidop%> <%=data_doc.data.personal.apellidom%>">
																		<input type="hidden" name="fecha" :value="fecha">
																		<input type="hidden" name="hora" :value="hora">
																		<input type="hidden" name="id_user" value="<%=data_doc.data.personal.id%>">
				
																		<div class="col-md-6">
																			<div class="block-web">
																				<div class="header">
																				   <h3 class="content-header">Subir la Laboratorio</h3>
																				</div>
																				<div class="porlets-content">
																					
																					<br>
																					<input type="file" name="imagen" accept="image/*">
																					  
																				   
																				</div><!--/porlets-content--> 
																			</div><!--/block-web--> 
																		</div><!--/col-md-6-->
																			  
																		<div class="col-md-6">
																			<div class="block-web">
																				<div class="header">
																					<h3 class="content-header">Detalles</h3>
																				</div>
																				<div class="porlets-content">																	
																					<div class="col-sm-4">
																						<label class="control-labe">Descripción:</label>
																						<textarea class="large-compact" name="descripcion" cols="50" rows="10"></textarea>
																						<!-- <input v-model="descripcion" type="text" name="titulo"  class="form-control" parsley-trigger="change"  required placeholder="Introdusca CI." /> -->
																					</div>
																				</div><!--/porlets-content--> 
																		</div><!--/block-web--> 
																		  </div><!--/col-md-6-->
																		<div class="col-md-12"><br>
																			<div class="col-sm-6">
																				
																				<button type="submit" class="btn btn-success btn-icon">Guardar<span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
																				<button type="reset"class="btn btn-danger btn-icon">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
																				<button type="button" onclick="scan();"> falta Scan</button>
																				<!-- Triggers scan -->
																				<div id="images">
																					<!-- Displays scanned images  -->
																				</div>
																			</div>
																		</div>
				
																	</form>
				
																<% } else { %>
																		
																	<form action="/laboratorios/vue_register_respLab/<%=one_lab[0].id%>/<%=data_paciente[0].numeroHistorial%>/<%=data_doc.data.token_id%>" method="POST" enctype="multipart/form-data">														
				
																		<div class="col-md-6">
																			<div class="block-web">
																				<div class="header">
																				   <h3 class="content-header">Subir la Laboratorio</h3>
																				</div>
																				<div class="porlets-content">
																					
																					<br>
																					<div class="col-md-12">
																						<div class="row">
																							<!-- <img src="<%=data_one_resp_lab[0].imagen_resp%>"> -->
																							<embed :src=" url + '/<%=data_one_resp_lab[0].imagen_resp%>'" type="application/pdf" width="100%" height="600px" />
																							<a :href=" url + '/<%=data_one_resp_lab[0].imagen_resp%>'">Ver</a>
																						</div>
			
																					</div>
			
																					  
																				   
																				</div><!--/porlets-content--> 
																			</div><!--/block-web--> 
																		</div><!--/col-md-6-->
																			  
																		<div class="col-md-6">
																			<div class="block-web">
																				<div class="header">
																					<h3 class="content-header">Detalles</h3>
																				</div>
																				<div class="porlets-content">																	
																					<div class="col-sm-4">
																						<label class="control-labe">Descripción:</label>
																						<textarea class="large-compact" name="descripcion" cols="50" rows="10"><%=data_one_resp_lab[0].descripcion%></textarea>
																						<!-- <input v-model="descripcion" type="text" name="titulo"  class="form-control" parsley-trigger="change"  required placeholder="Introdusca CI." /> -->
																					</div>
																				</div><!--/porlets-content--> 
																		</div><!--/block-web--> 
																		  </div><!--/col-md-6-->
																		<div class="col-md-12"><br>
																			<div class="col-sm-6">
																				
																				<button type="submit" class="btn btn-success btn-icon">Guardar<span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
																				<button type="reset"class="btn btn-danger btn-icon">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
																				<button type="button" onclick="scan();"> falta Scan</button>
																				<!-- Triggers scan -->
																				<div id="images">
																					<!-- Displays scanned images  -->
																				</div>
																			</div>
																		</div>
				
																	</form>
																<% } %>
														</div>
													</div>							
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>



						</div>

					</div>

					<!--\\\\\\\ container  end \\\\\\-->
				</div>
				<!--\\\\\\\ content panel end \\\\\\-->
			</div>
			<!--\\\\\\\ inner end\\\\\\-->
		</div>
	</div>
		<!--\\\\\\\ wrapper end\\\\\\-->

	<div class="modal fade" id="myModalCerrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="vertical-alignment-helper">
		  <div class="modal-dialog vertical-align-center modal-sm ">
			<div class="modal-content">
			  <br>
				<div class="center">
				  <i><img src="/images/salir.gif" width="100" height="100" /></i>
				</div>
				<div class="center">
				  <h5><b>¿Cerrar Sesión?</b></h5>
				</div>
			  <div class="modal-footer">
				<div class="center">
				  <a href="" onclick="delete_local_storage()"  class="btn btn-success"><i class="fa fa-check"></i><span>&nbsp;</span>Sí, Confirmar</a>
				  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;</span>No, Cancelar</button>
				</div>
			  </div>
			</div>
		  </div>
		</div> 
	</div>

	<script type="text/javascript">
		// Need to upload scanned images to server or save them on hard disk? Please refer to the dev guide: http://asprise.com/document-scan-upload-image-browser/ie-chrome-firefox-scanner-docs.html
		// For more scanning code samples, please visit https://github.com/Asprise/scannerjs.javascript-scanner-access-in-browsers-chrome-ie.scanner.js
	
		var scanRequest = {
			"use_asprise_dialog": true, // Whether to use Asprise Scanning Dialog
			"show_scanner_ui": false, // Whether scanner UI should be shown
			"twain_cap_setting": { // Optional scanning settings
				"ICAP_PIXELTYPE": "TWPT_RGB" // Color
			},
			"output_settings": [{
				"type": "return-base64",
				"format": "jpg"
			}]
		};
	
		/** Triggers the scan */
		function scan() {
			scanner.scan(displayImagesOnPage, scanRequest);
		}
	
		/** Processes the scan result */
		function displayImagesOnPage(successful, mesg, response) {
			if (!successful) { // On error
				console.error('Failed: ' + mesg);
				return;
			}
			if (successful && mesg != null && mesg.toLowerCase().indexOf('user cancel') >= 0) { // User cancelled.
				console.info('User cancelled');
				return;
			}
			var scannedImages = scanner.getScannedImages(response, true, false); // returns an array of ScannedImage
			for (var i = 0;
				(scannedImages instanceof Array) && i < scannedImages.length; i++) {
				var scannedImage = scannedImages[i];
				var elementImg = scanner.createDomElementFromModel({
					'name': 'img',
					'attributes': {
						'class': 'scanned',
						'src': scannedImage.src
					}
				});
				(document.getElementById('images') ? document.getElementById('images') : document.body).appendChild(elementImg);
			}
		}
	</script>




	<!--====== Scripts -->

	<script src="/js/jquery-2.1.0.js"></script>
	
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common-script.js"></script>
	<script src="/js/jquery.slimscroll.min.js"></script>
	<script src="/plugins/data-tables/jquery.dataTables.js"></script>
	<script src="/plugins/data-tables/DT_bootstrap.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init.js"></script>
	<script src="/plugins/edit-table/edit-table.js"></script>

	<script src="/js/toastr.js"></script>

	<script src="/sweetalert2/dist/sweetalert2.min.js"></script>
	<script>
		jQuery(document).ready(function () {
			EditableTable.init();
		});
	</script>
	<script src="/js/jPushMenu.js"></script>
	<script src="/js/side-chats.js"></script>
	<script type="text/javascript" src="plugins/toggle-switch/toggles.min.js"></script>

	<script src="/plugins/checkbox/zepto.js"></script>
	<script src="/plugins/checkbox/icheck.js"></script>
	<script src="/js/icheck-init.js"></script>
	<script src="/js/jquery.slimscroll.min.js"></script>
	<script src="/js/icheck.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
	<script type="text/javascript" src="/js/form-components.js"></script>
	<script type="text/javascript" src="/plugins/input-mask/jquery.inputmask.min.js"></script>
	<script type="text/javascript" src="/plugins/input-mask/demo-mask.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
	<script type="text/javascript" src="/plugins/dropzone/dropzone.min.js"></script>
	<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>


	<script src="/bower_components/scanner/dist/scanner.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
	<script>
		/*==Porlets Actions==*/
		$('.minimize').click(function (e) {
			var h = $(this).parents(".header");
			var c = h.next('.porlets-content');
			var p = h.parent();
		
			c.slideToggle();
		
			p.toggleClass('closed');
		
			e.preventDefault();
		});
	
		$('.refresh').click(function (e) {
			var h = $(this).parents(".header");
			var p = h.parent();
			var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
		
			loading.appendTo(p);
			loading.fadeIn();
			setTimeout(function () {
				loading.fadeOut();
			}, 1000);
		
			e.preventDefault();
		});
	
		$('.close-down').click(function (e) {
			var h = $(this).parents(".header");
			var p = h.parent();
		
			p.fadeOut(function () {
				$(this).remove();
			});
			e.preventDefault();
		});
	
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>   <!-- vue cdn -->
	<script src="/moment/moment.js"></script>
	<script src="/moment/locale/af.js"></script>
	<script src="/url/export.js"></script>
	<script>
			/*  <%if(msg) { %> */
			  /*  <%if(msg.data.success == false) { %> */
				   msg_false()
				   function msg_false(){
					 swal.fire(
					   'Error!',
					   '<label style="color:red;">'+`<%=msg.data.data_p%>`+'</label>',
					   'error'
					 )
				   }
			   /* <% } else {%> */
				   msg_true()
				   function msg_true(){
					 swal.fire(
					   'Confirmado!',
					   '<label style="color:green;">'+ `<%=msg.data.data_p%>` +'</label>',
					   'success'
					 )
				   }
			  /*  <% } %> */
			/*  <% } %> */
	</script>
	<script>
	const laboratorio = new Vue({
    	el:"#laboratorio",
    	data:() => ({
			id_lab:'',
			fecha:'',
			hora:'',
			url:data_url.url_front_end,
			examen_x:'',
			examen_lab:''
		}),
		mounted(){
			this.fecha = moment().format('l')
			this.hora = moment().format('HH:mm:ss')
			console.log(this.fecha, this.hora)

			fetch(this.url+'/laboratorios/vue_one_lab/'+this.id_lab)
            .then(res => res.json())
            .catch(error => console.error('Error:', error))
            .then(data => {
				console.log(data, "  <<<<<<<<<<<<<<<<<<<<<<sdss")
                this.lab_one = data[0]
                if (data[0].tipo_laboratorio == "Rayos_x"){
                    this.examen_x = data[0].examen                   
                }else if (data[0].tipo_laboratorio == "LABORATORIO"){
                    this.examen_lab = data[0].examen                    
                }
            })
		}
	})
	</script>
	

</body>

</html>