<!DOCTYPE html>
<html lang="es">

<head>
	<title>Consulta Externa</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">


	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
	<link href="/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<link href="/plugins/kalendar/kalendar.css" rel="stylesheet">
	<link rel="stylesheet" href="/plugins/scroll/nanoscroller.css">
	<link href="/plugins/calendar/fullcalendar.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/calendar/fullcalendar.print.css" rel="stylesheet" type="text/css" />
	<style>
		div.a {
			text-align: center;
		}
		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;
		}
	</style>
	<style>
		.info2{ border-radius:100%; float: left; height:80px; width:80px; }
		.info2 .icon{ font-size:50px; color:#FFFFFF; float:left; margin-right:50px; margin:15px 9px 9px 18px;}
	</style>
		  <style>
			* {
			margin:0;
			padding: 0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		  }
		  
		  
		  .widget {
			width: 80%;
			margin: 2em;
			/*margin:32px; */
		  }
		  
		  .widget p {
			display: inline-block;
			line-height: 1em;
		  }
		  
		  .fecha {
			font-family: Oswald, Arial;
			text-align: center;
			font-size:1.5em;
			margin-bottom: 0.3125rem;
			/*margin-bottom: 5px;*/
			background: rgba(0,0,0,.5);
			padding: 20px;
			width: 100%;
		  }
		  
		  .reloj {
			font-family: Oswald, Arial;
			width: 100%;
			padding: 20px;
			font-size: 4em;
			text-align: center;
			background: rgba(0,0,0,.5);
		  }
		  
		  .reloj .caja-segundos {
			display: inline-block;
		  }
		  
		  .reloj .segundos,
		  .reloj .ampm {
			font-size: 2rem;
			display: block;
		  }
		  td.uppercase
		  {
			text-transform: uppercase;
		  }
		  .vertical-alignment-helper {
			display:table;
			height: 100%;
			margin-left: 41%;
		  }
		  .vertical-align-center {
			/* To center vertically */
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		  }
		  </style>
	<script>
		  
		  
			
		function delete_local_storage(){
		  console.log ("ssss")
		  localStorage.removeItem('data');
		  localStorage.removeItem('url');
		}
		setTimeout(()=>{
		  delete_local_storage()
		  //window.location.replace('/')
		},500000);
		  
	</script>
	<%- include("../partials/head") -%>
</head>

<body class="light_theme  fixed_header left_nav_fixed">
	<!-- Content page-->
<div class="wrapper">
		<!--\\\\\\\ wrapper Start \\\\\\-->
	<div class="header_bar">
		<!--\\\\\\\ header Start \\\\\\-->
		<div class="brand">
			<!--\\\\\\\ brand Start \\\\\\-->
			<div class="logo" style="display:block"><span class="theme_color">Hospital</div>
		</div>
		<!--\\\\\\\ brand end \\\\\\-->
		<div class="header_top_bar">
			<!--\\\\\\\ header top bar start \\\\\\-->
			<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
			<div class="top_right_bar">
				<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/medico.png" /><span class="user_adminname"> <span>&nbsp;&nbsp;</span><%=data_token.medico.nombre%> <%=data_token.medico.apellidop%></span> <b class="caret"></b> </a>
					<ul class="dropdown-menu">
						<div class="top_pointer"></div>
						<li> <a href="javascript:void(0);" data-target="#myModalCerrar" data-toggle="modal" ><i class="fa fa-power-off"></i> Salir</a> </li>
					</ul>
				</div>
			</div>
		</div>
		<!--\\\\\\\ header top bar end \\\\\\-->
	</div>
	<div class="inner">
		<!--\\\\\\\ inner start \\\\\\-->
		<div class="left_nav">
			<!--\\\\\\\left_nav start \\\\\\-->
			<div class="left_nav_slidebar">
				<ul>
					<li class="left_nav_active theme_border"><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
						<ul class="opened" style="display:block">
							<li> <a href="#"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b class="theme_color">Inicio</b> </a> </li>
						</ul>
					</li>
					<li> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i class="fa fa-plus"></i></span></a>
						<ul >
							<li> <a href="/consulta_externa/lista_pacientes/<%=data_token.token_id%>/<%=data_token.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Listas de Citas</b> </a> </li>
						</ul>
					</li>
					<li class=""> <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reporte<span class="plus"><i class="fa fa-plus"></i></span></a>
						<ul >
							<li> <a href="/paciente/ReporEnfermedades"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="">Reporte Enferm.</b> </a> </li>
							<li> <a href="/paciente/ReporPacenA"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="">Reporte de consulta</b> </a> </li>
						</ul> 
					</li> 						
				</ul>
			</div>
		</div>
			<!--\\\\\\\left_nav end \\\\\\-->
		<div class="contentpanel"><br>
			<!--\\\\\\\ contentpanel start\\\\\\-->
			<!-----    
			<div class="col-md-3 ">
					<img class="centrado"src="/images/VIII.gif" width="80" height="50"  />
				</div> -->
			<div class="container clear_both padding_fix ">
				<div class="row">
					<div class="col-sm-12">
						<div class="user-profile-sidebar profile_widget">
							<div class="row"> <img src="/images/medico.png"> 
								<div class="user-identity"> 
									<h4>Bienvenido <strong><%=data_token.medico.nombre%> <%=data_token.medico.apellidop%></strong></h4>
									<p><i class=""></i> </p>
								</div>
							</div>
						</div>
						
						<div class="widget-status-data" onclick="location.href='/consulta_externa/lista_pacientes/<%=data_token.token_id%>/<%=data_token.token_p%>';"style="cursor: pointer;" >
							<div class="row">
								
								<% if(lista_pacientes != 0) { %>			
								<div class="col-md-4">
									<h5><strong></strong><br> Tiene</h5>
								</div>	
								<div class="col-md-4">
									<h5><strong><%=lista_pacientes%></strong><br>
										Pacientes</h5>
								</div>
								<% } else { %>
								<div class="col-md-4">
									<h5><strong></strong><br>No tiene</h5>
								</div>
								<div class="col-md-4">
									<h5><strong>Ni un</strong><br>
										Paciente </h5>
								</div>
								<% } %>
								<div class="col-md-4">
									<h5><strong></strong><br>
										Para atender</h5>
								</div>
							</div>
						</div>
				
					</div>
				</div>
				<br>				
				<div class="row">
					<div class="col-md-12">	
					  	<div class="col-md-6">
							<div class="">
								<div class="col-sm-6 row">
									<div class="">
										<a href="/emergencia/pacientes_emer" class="open_ticket_comment text-center ">
											<h4>Paciente</h4>
											<div class="btn-group">
												<i class="fa fa-wheelchair"></i>
											</div>
										</a>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="">	  
										<a href="#" class="open_ticket_comment text-center ">
											<h4>Reportes</h4>
											<div class="btn-group">
										  		<i class="fa fa-pencil-square-o"></i>
											</div>
										</a>
												  
									</div>
								</div>
						  	</div>
							<div class="col-md-12 ">
								<div class="widget">
									<div class="fecha">
									  <p id="diaSemana" class="diaSemana">Martes</p>
									  <p id="dia" class="dia">27</p>
									  <p>de </p>
									  <p id="mes" class="mes">Octubre</p>
									  <p>del </p>
									  <p id="year" class="year">2015</p>
									</div>
									<div class="reloj">
									  <p id="horas" class="horas">11</p>
									  <p>:</p>
									  <p id="minutos" class="minutos">48</p>
									  <p>:</p>
									  <div class="caja-segundos">
										<p id="ampm" class="ampm">AM</p>
										<p id="segundos" class="segundos">12</p>
									  </div>
									</div>
								</div>
							</div>	
					  </div>
					  <div class="col-md-6 ">
						<div id='calendar'></div>
						<!--/calendar end-->
					  </div>
					</div>
				</div>
			</div>
		</div>
			<!--\\\\\\\ inner end\\\\\\-->
	</div>
</div>
<!--\\\\\\\ wrapper end\\\\\\-->
<div class="modal fade" id="myModalCerrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="vertical-alignment-helper">
	  <div class="modal-dialog vertical-align-center modal-sm ">
		<div class="modal-content">
		  <br>
			<div class="center">
			  <i><img src="/images/salir.gif" width="100" height="100" /></i>
			</div>
			<div class="center">
			  <h5><b>¿Cerrar Sesión?</b></h5>
			</div>
		  <div class="modal-footer">
			<div class="center">
			  <a href=""  class="btn btn-success"><i class="fa fa-check"></i><span>&nbsp;</span>Sí, Confirmar</a>
			  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;</span>No, Cancelar</button>
			</div>
		  </div>
		</div>
	  </div>
	</div> 
</div>
<!--====== Scripts -->
<script>
	(function(){
	var actualizarHora = function(){
	  // Obtenemos la fecha actual, incluyendo las horas, minutos, segundos, dia de la semana, dia del mes, mes y año;
	  var fecha = new Date(),
		horas = fecha.getHours(),
		ampm,
		minutos = fecha.getMinutes(),
		segundos = fecha.getSeconds(),
		diaSemana = fecha.getDay(),
		dia = fecha.getDate(),
		mes = fecha.getMonth(),
		year = fecha.getFullYear();
  
	  // Accedemos a los elementos del DOM para agregar mas adelante sus correspondientes valores
	  var pHoras = document.getElementById('horas'),
		pAMPM = document.getElementById('ampm'),
		pMinutos = document.getElementById('minutos'),
		pSegundos = document.getElementById('segundos'),
		pDiaSemana = document.getElementById('diaSemana'),
		pDia = document.getElementById('dia'),
		pMes = document.getElementById('mes'),
		pYear = document.getElementById('year');
  
	  
	  // Obtenemos el dia se la semana y lo mostramos
	  var semana = ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'];
	  pDiaSemana.textContent = semana[diaSemana];
  
	  // Obtenemos el dia del mes
	  pDia.textContent = dia;
  
	  // Obtenemos el Mes y año y lo mostramos
	  var meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
	  pMes.textContent = meses[mes];
	  pYear.textContent = year;
  
	  // Cambiamos las hora de 24 a 12 horas y establecemos si es AM o PM
  
	  if (horas >= 12) {
		horas = horas - 12;
		ampm = 'PM';
	  } else {
		ampm = 'AM';
	  }
  
	  // Detectamos cuando sean las 0 AM y transformamos a 12 AM
	  if (horas == 0 ){
		horas = 12;
	  }
  
	  // Si queremos mostrar un cero antes de las horas ejecutamos este condicional
	  // if (horas < 10){horas = '0' + horas;}
	  pHoras.textContent = horas;
	  pAMPM.textContent = ampm;
  
	  // Minutos y Segundos
	  if (minutos < 10){ minutos = "0" + minutos; }
	  if (segundos < 10){ segundos = "0" + segundos; }
  
	  pMinutos.textContent = minutos;
	  pSegundos.textContent = segundos;
	};
  
	actualizarHora();
	var intervalo = setInterval(actualizarHora, 1000);
  }())
</script>
<script>
	var yy;
	var calendarArray =[];
	var monthOffset = [6,7,8,9,10,11,0,1,2,3,4,5];
	var monthArray = [["ENE","enero"],["FEB","Febrero"],["MAR","Marzo"],["ABR","Abril"],["MAY","Mayo"],["JUN","Junio"],["JUL","Julio"],["AGO","Agosto"],["SEP","Septiembre"],["OCT","Octubre"],["NOV","Noviembre"],["DIC","Diciembre"]];
	var letrasArray = ["L","M","X","J","V","S","D"];
	var dayArray = ["7","1","2","3","4","5","6"];
	$(document).ready(function() {
	  $(document).on('click','.specific-day',activatecalendar);
	  $(document).on('click','.calendar-month-view-arrow',offsetcalendar);
	  $(window).resize(calendarScale);
	  $(".calendar").calendar({
		"2013910": {
		  "Mulberry Festival": {
			start: "9.00",
			end: "9.30",
			location: "London"
		  }
		}
	  });
	  calendarSet();
	  calendarScale();
	  });
	 
</script>

	
<!--\\\\\\\ wrapper end\\\\\\-->
<!--====== Scripts -->

<script src="/js/jquery-2.1.0.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/common-script.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/plugins/data-tables/jquery.dataTables.js"></script>
<script src="/plugins/data-tables/DT_bootstrap.js"></script>
<script src="/plugins/data-tables/dynamic_table_init.js"></script>
<script src="/plugins/edit-table/edit-table.js"></script>
<script>
	jQuery(document).ready(function () {
		EditableTable.init();
	});
</script>
<script src="/js/jPushMenu.js"></script>
<script src="/js/side-chats.js"></script>

<script src="/js/jquery-ui.custom.min.js"></script>
<script src="/plugins/calendar/fullcalendar.min.js"></script>
<script src="/plugins/calendar/external-draging-calendar.js"></script>


</body>

</html>