<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/hospital.png">
    <title>Consulta</title>
    <meta charset="UTF-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="/css/cosasOcultar.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/imprimirR.css" media="print" />    
    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
    <link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
    <link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">
    <style>
        div.a {
            text-align: center;
        }
        h1.letras {
            font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;
        }
        .info2{ border-radius:100%; float: left; height:80px; width:80px; }
        .info2 .icon{ font-size:50px; color:#FFFFFF; float:left; margin-right:50px; margin:15px 9px 9px 18px;}
        .vertical-alignment-helper {
		  display:table;
		  height: 100%;
		  margin-left: 41%;
		}
		.vertical-align-center {
		  /* To center vertically */
		  display: table-cell;
		  vertical-align: middle;
		  text-align: center;
		}
    </style>
</head>
<body class=" light_theme  fixed_header left_nav_fixed" onload="actualizaReloj()">
    <div class="wrapper">
        <div id="ocultoI" class="header_bar">
            <div class="brand">
                <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
            </div>
            <div class="header_top_bar">
                <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
                <div class="top_right_bar">
                    <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
                        src="/images/medico.png" /> <span class="user_adminname"><span>&nbsp;&nbsp;</span> <%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%>
                        </span> <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <div class="top_pointer"></div>
                            <li> <a href="javascript:void(0);"data-target="#myModalCerrar" data-toggle="modal"><i class="fa fa-power-off"></i> Salir</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner sinmagen">
            <div  id="ocultoI" class="left_nav">
                <div  class="left_nav_slidebar">
                    <ul>
                        <li><a href="/consulta_externa/home/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"><i class="fa fa-home"></i> Inicio <span class="plus"><i class="fa fa-plus"></i></span> </a></li>
                        <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i class="fa fa-plus"></i></span></a>
                            <ul class="opened" style="display:block">
                                <li> <a href="/consulta_externa/lista_pacientes/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Listas de Consultas</b> </a> 
                                </li>
                            </ul>
                        </li>  
                        <li> <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reporte<span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul >
								<li> <a href="/consulta_externa/HistorialGeneral/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Pacientes </b>  </a> </li>
								<li> <a href="/consulta_externa/ReporEnfermedades/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Cons.</b>  </a> </li>
							</ul> 
						</li> 
                    </ul>
                </div>
            </div>
            <div class="sinmagen" id="papeleta">
                <div class="contentpanel sinmagen" id="sinMargen">
                    <div  class="container clear_both padding_fix col-lg-8"><br>
                        <div class="main-content">
                            <div  class="  col-xs-12 ">
                                <div class="row">
                                    <div class="col-lg-12 block-web">
                                        <div class="head">
                                            <div class="actions">
                                                <!--<<<<<<<<<<<<<< IMAGEN en la hoja de impresion>>>>>>>>>>>>>>>>>>>>>>>-->
                                                <P class="dondeES"></P>
                                                <p class="telefo"></p>
                                                <!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->	
                                                <p class="fechaI" name="fechaConsulta" id="Fecha_Reloj"  readonly=""  cols="23" rows="1,9px" ></p>
                                            </div>
                                            <div id="ocultoI" class="header">
                                                <h2 id="ocultoI" class="content-header"><div class="info2 blue_symbols"><i class="fa fa-file-text icon "></i></div> Consulta Externa /<span class="semi-bold"> Papeleta Internación</span></h2>  
                                            </div> 
                                        </div>
                                        <!--<<<<<<<<<<<<<< IMAGEN en la hoja de impresion>>>>>>>>>>>>>>>>>>>>>>>-->
									    <div class="dim2 posiondeImagen">
                                            <p class="hospitalI"></p>
                                            <img class="oculVistaReal "  src="/images/hospital1.png" />
                                        </div>
									    <!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->	
                                    </div>
                                    <!--<<<<<<<<<<<<<< IMAGEN en la hoja de impresion>>>>>>>>>>>>>>>>>>>>>>>-->
                                    <P class="oreden ordendetitulo center"></P>
                                    <!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->			
                                    <div class="container-fluid">
                                        <div class="row ">
                                            <section class="panel default  ">
                                                <div class=" ">
                                                    <div class=" col-md-14">
                                                        <ul id="ocultoI" class="nav nav-tabs" style="margin-bottom: 15px;">
                                                            <li class=" col-lg-6 active active  text-center"><a href="#PapeletaInternacion" data-toggle="tab"><i class="fa fa-medkit "></i><span>&nbsp;&nbsp;&nbsp;</span> Papeleta de Internación</a></li>
                                                            <li class="col-lg-6 text-center"><a href="#list" data-toggle="tab"><i class="fa fa-list-alt  "></i><span>&nbsp;&nbsp;&nbsp;</span> Lista de Internación del Paciente</a></li>
                                                        </ul>
                                                        <div id="myTabContent" class="tab-content">
                                                            <div class="tab-pane fade active in" id="PapeletaInternacion">
                                                                <div class="row">
                                                                <% if(resp == "") { %>
                                                                    <form action="/consulta_externa/Pinternacion/<%=one_consulta[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>/<%=id_cita%>" method="POST">
                                                                        <input type="hidden" name="id_medico" value="<%=data_doc.data.medico.id%>">
                                                                        <div class="row "> 
                                                                            <div class="block-web"> 
                                                                                <div class="col-md-12">
                                                                                    <section class="panel default blue_title h2 clear">  
                                                                                        <div class="col-md-6 panel panel-default">
                                                                                            <div id="ocultoI" class=" panel panel-default">
                                                                                                <li href="#ac3-1" data-parent="#accordion3" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos del Paciente</li>            
                                                                                            </div>
                                                                                            <div style="height: 0px;" id="ac3-1" class="panel-collapse collapse">
                                                                                                <div class="his"> 
                                                                                                    <div class="col-md-4 his">
                                                                                                        <label class=" ">N° de Historia:</label><p><b><%=dataPaciente[0].numeroHistorial%></b></p>
                                                                                                        <input type="hidden" name="Historial" value="<%=dataPaciente[0].numeroHistorial%>" class="form-control" readonly="" value="Read only text goes here">
                                                                                                    </div>
                                                                                                    <div class="col-sm-3 his">
                                                                                                        <label class=" "> Sexo: </label><p><b><%=dataPaciente[0].sexo%></b></p>
                                                                                                    </div>
                                                                                                    <div class="col-md-3 his">
                                                                                                        <label class=" ">CI.:</label><p><b><%=dataPaciente[0].ci%></b></p>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5 col-sm-9 his">
                                                                                                        <label class="">Fecha de Nacimiento:</label><p><b><%=dataPaciente[0].fechanacimiento%></b></p>
                                                                                                    </div> 
                                                                                                    <div class="col-sm-6 his">
                                                                                                        <label class=" ">Paciente:</label><p><b><%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%></b></p>    
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6 panel panel-default">
                                                                                            <div  id="ocultoI" class=" panel panel-default">
                                                                                                <li href="#ac3-2" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos de la Consulta</li>            
                                                                                            </div>
                                                                                            <div style="height: 0px;" id="ac3-2" class="panel-collapse collapse">
                                                                                                <div class="col-sm-6 col-sm-8">
                                                                                                    <label class="">Especialidad:</label><p><b><%=one_consulta[0].tipoConsulta%></b></p>
                                                                                                    <input type="hidden" name="tipoConsulta" value="<%=one_consulta[0].tipoConsulta%>"class="form-control" readonly="" value="Read only text goes here">                                                                
                                                                                                </div>                 
                                                                                                <div class="col-sm-6 col-sm-12 ">
                                                                                                    <label class="">Médico:</label><p><b><%=one_consulta[0].Citas_Medica.medico%></b></p>
                                                                                                    <input type="hidden" name="nombreDoctor" value="<%=one_consulta[0].Citas_Medica.medico%>" class="form-control" readonly="" value="Read only text goes here" >
                                                                                                </div>
                                                                                            </div>
                                                                                        </div> 
                                                                                    </section>          
                                                                                </div>
                                                                            </div>
                                                                        </div>    
                                                                        <div class="block-web">
                                                                            <div class="header">
                                                                                <h4 class="">Detalles de la Hospitalización</h4>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <div class="col-sm-6">
                                                                                        <div class="entrada">Area de hospitalización<br>
                                                                                            <select name="especialidad">
                                                                                                <% for(var i=0; i< especialidad.length; i++) {%>
                                                                                                <option><%=especialidad[i].nombre%></option>
                                                                                                <% } %>
                                                                                            </select><br>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <div class="entrada ">
                                                                                            <div class="entrada">Fecha de Orden
                                                                                                <input class="form-control" type="text"  name="fechaIngreso" readonly :value="fecha" ><br>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <div class="col-sm-4">
                                                                                        <div class="entrada"> Diagnóstico<br>
                                                                                            <textarea name="diagnostico" cols="100" rows="10" onkeyup="mayus(this);"></textarea><br>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--   lado derecho-->
                                                                        <div id="ocultoI" class="col-md-12 ">
                                                                            <div class="col-md-8 ">
                                                                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> &nbsp;&nbsp; Guardar</button>
                                                                                <a href="/consulta_externa/reg_consulta/<%=id_cita%>/<%=dataPaciente[0].numeroHistorial%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>" class="btn btn-danger" ><i class="fa fa-times"></i> <span> Cancelar</span> </a>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                    <% } else { %>
                                                                    <form action="/consulta_externa/updateInternacion/<%=resp[0].id%>/<%=one_consulta[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>/<%=id_cita%>" method="POST">
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <section class="panel default blue_title h2">  
                                                                                        <div class="col-md-12 panel panel-default">
                                                                                            <div id="ocultoI" class=" panel panel-default">
                                                                                                <li href="#ac3-1" data-parent="#accordion3" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos Importantes</li>            
                                                                                            </div>
                                                                                            <div style="height: 0px;" id="ac3-1" class="panel-collapse collapse in">
                                                                                                <div class="col-md-3 bloque1">                         
                                                                                                    <div class="entrada  ">
                                                                                                        <label class=" ">N° de Historia:</label><p><b><%=dataPaciente[0].numeroHistorial%></b></p>
                                                                                                        <input type="hidden" name="Historial" value="<%=dataPaciente[0].numeroHistorial%>" class="form-control" readonly="" value="Read only text goes here">
                                                                                                    </div>
                                                                                                    <div class="entrada">
                                                                                                        <div class="">
                                                                                                            <label class=" "> Paciente:</label><p><b><%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%></b></p>               
                                                                                                        </div> 
                                                                                                    </div> 
                                                                                                </div>
                                                                                                <div class="col-md-3 bloque1">
                                                                                                    <div class="entrada ">
                                                                                                        <label class="">Fecha de Nacimiento:</label><p><b><%=dataPaciente[0].fechanacimiento%></b></p>
                                                                                                    </div> 
                                                                                                    <div class="entrada ">
                                                                                                        <div class="">
                                                                                                            <label class=" ">CI.:</label><p><b><%=dataPaciente[0].ci%></b></p>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-2 bloque2">  
                                                                                                    <div class="">
                                                                                                        <label class=" "> Sexo: </label><p><b><%=dataPaciente[0].sexo%></b></p>
                                                                                                    </div>  
                                                                                                    
                                                                                                </div>
                                                                                                <div class="col-md-3 bloque2">
                                                                                                    <div class=" entrada">
                                                                                                        <label class="">Especialidad / Consultorio:</label><p><b><%=one_consulta[0].tipoConsulta%></b></p>
                                                                                                        <input type="hidden" name="tipoConsulta" value="<%=one_consulta[0].tipoConsulta%>"class="form-control" readonly="" value="Read only text goes here">                                                                
                                                                                                    </div>
                                                                                                    <div class=" entrada">
                                                                                                        <label class="">Nombre del Médico:</label><p><b><%=one_consulta[0].Citas_Medica.medico%></b></p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>   
                                                                                    </section>          
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                     <!--<<<<<<<<<<<<<< IMAGEN en la hoja de impresion>>>>>>>>>>>>>>>>>>>>>>>-->
                                                                      <!-- 
                                                                     <p class="areInternacion"></p>
                                                                        <p class="fechao"></p>
                                                                    -->
                                                                        <!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->	
                                                                        <!--<<<<<<<<<<<<<< IMAGEN en la hoja de impresion>>>>>>>>>>>>>>>>>>>>>>>-->
                                                                    <!--
                                                                        <p class="tituloDiagnostico"></p><br>
                                                                        <p class="oreden1"></p>
                                                                    -->
                                                                        <!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
                                                                        <div id="ocultoI" class="block-web">
                                                                            <div class="header">
                                                                                <h4  class="content-header">Estado del Paciente</h4>
                                                                            </div> 
                                                                        </div>
                                                                        <div   class="form-group">
                                                                            <div class="">
                                                                                <div id="" class="col-md-12">
                                                                                    <div class="col-sm-6 col-sm-6 bloque3">
                                                                                        <div class="entrada "> Área de hospitalización
                                                                                            <select class="form-control" name="especialidad">
                                                                                                <option><%=resp[0].especialidad%></option>
                                                                                                <option>------------------------</option>
                                                                                                <% for(var i=0; i< especialidad.length; i++) {%>
                                                                                                    <option><%=especialidad[i].nombre%></option>
                                                                                                <% } %>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-sm-6 col-sm-6 bloque3">
                                                                                        <div class="entrada ">
                                                                                            <div class="entrada">Fecha de Ingreso
                                                                                                <input class="form-control" type="text" readonly name="fechaIngreso" require value="<%=resp[0].fechaIngreso%>" ><br>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div id="" class="col-md-10 bloque4">
                                                                                    <div class="entrada  ">
                                                                                        <label class=""> Diagnóstico</label><br>
                                                                                        <textarea class="acomodar" name="diagnostico" cols="140%" rows="10" onkeyup="mayus(this);"><%=resp[0].diagnostico%></textarea>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div><br><br>
                                                                        <!--<<<<<<<<<<<<<< IMAGEN en la hoja de impresion>>>>>>>>>>>>>>>>>>>>>>>-->
                                                                        <div class="acomodarFirmas">
                                                                            <p class="firmaPa center cafirmaP"></p>
                                                                            <p class="firmaDoc center cafirmaDoc"></p>
                                                                        </div> 
                                                                        <!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
                                                                        <div id="ocultoI" class="col-md-12 page-content ">
                                                                            <div class="col-md-8 ">
                                                                                <%if(resp[0].estado_update == true) { %>    
                                                                                <button type="submit" class="btn btn-info"><i class="fa fa-refresh"></i> &nbsp;&nbsp;  Actualizar</button>                                                                   
                                                                                <% } %>
                                                                                <a id="ocultoI"onclick="window.print();" class="btn btn-warning btn-raised" style="margin-right: 20px;"> <i class='fa fa-print'></i>&nbsp;&nbsp; Imprimir</a> 
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                    <% } %>
                                                                </div>
                                                            </div>

                                            
                                            <div class="tab-pane fade" id="list">
                                                <div class="table-responsive">
                                                    <div class="table-wrapper">
                                                        <table class="display table table-bordered table-striped"
                                                            id="dynamic-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Nombre</th>
                                                                   
                                                                    <th>Historial</th>
                                                                    <th>Nombre del doctor</th>
                                                                    <th>Area de Internacion</th>
                                                                    <th>De:</th>
                                                                    <th>Ver</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <%for( var i = 0; i < list_p.length; i++ ) { %>
                                                                    <tr>
                                                                        <td><%=i+1%></td>
                                                                        <td @click="one_papeleta(<%=list_p[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%></td>
                                                                        
                                                                        <td @click="one_papeleta(<%=list_p[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><%=list_p[i].Historial%></td>
                                                                        <td @click="one_papeleta(<%=list_p[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><%=list_p[i].nombreDoctor%></td>
                                                                        <td @click="one_papeleta(<%=list_p[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><%=list_p[i].especialidad%></td>
                                                                        <td @click="one_papeleta(<%=list_p[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><%=list_p[i].tipoConsulta%></td>
                                                                        <td @click="one_papeleta(<%=list_p[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias">Ver</td>
                                                                    </tr>
                                                                <% } %>                                                               
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>

                                        </div>
                                            </section>
                                        </div>
                                    </div>
                       
                        <!--====== Scripts -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal alergias -->
                <div class="modal fade" id="alergias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myModalLabel">Detalles de la Papeleta de Internacion</h4>
                        </div>
                        <div>
                            <div class="">
                                <div id="main-content">
                                    <div class="">			
                                        
                                        <div id="myTabContent" class="tab-content">
                                              <div class="tab-pane fade active in " id="neww">
                                                <div class="col-md-12">
                                                    <div class="">
                                                        <div class=" ">
                                                            <p></p>
                                                            <span style="color: rgb(48, 46, 160)"> De: </span>  {{one_p.tipoConsulta}} <br>
                                                            <span style="color: rgb(48, 46, 160)"> N° de Historial: </span>  {{one_p.Historial}}  <br>
                                                            <span style="color: rgb(48, 46, 160)"> Nombre Completo: </span> <%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%> <br>
                                                            <span style="color: rgb(48, 46, 160)"> Fecha de la Orden: </span>  {{one_p.fechaIngreso}} <br>                                                        

                                                            <span style="color: rgb(48, 46, 160)"> Nombre del Médico: </span>  {{one_p.nombreDoctor}} <br>
                                                            <span style="color: rgb(48, 46, 160)"> Area de Internación: </span> {{one_p.especialidad}}<br>
                                                            <span style="color: rgb(48, 46, 160)"> Diagnostico: </span>  {{one_p.diagnostico}} <br>
                                                        
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>
                                                          <!--/porlets-content-->
                                                  </div>
                                              </div>
                                  </div>
                                
                              </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalCerrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="vertical-alignment-helper">
          <div class="modal-dialog vertical-align-center modal-sm ">
            <div class="modal-content">
              <br>
                <div class="center">
                  <i><img src="/images/salir.gif" width="100" height="100" /></i>
                </div>
                <div class="center">
                  <h5><b>¿Cerrar Sesión?</b></h5>
                </div>
              <div class="modal-footer">
                <div class="center">
                  <a href="" class="btn btn-success"><i class="fa fa-check"></i><span>&nbsp;</span>Sí, Confirmar</a>
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;</span>No, Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div> 
    </div>

    <!--====== Scripts -->
    <%- include("../partials/scripts") -%>
<style >
/*  <%if (resp != "") { %> */
    @media print{
        @page {
            size:  A4 portrait;
            margin: 0;
        }
        .tituloDiagnostico:before {
            content: " Dignóstico";
            font-weight: negrita;
            color:black;
            text-align: center;
            padding: 0%;
            margin: 0%;
            font: Arial;
            float: left;
            padding-left: 5%;
        }    
        .ordendetitulo{
          	position:static;
	      	margin-top: 10%;
	      	margin-left: 3%;
          	font: small-caps 170%/100% serif;
        }
        .bloque1{
		  position: relative;
		  float:left;
	      	margin-top: 0%;
	      	margin-left: 0%;
          	font: small-caps 100%/100% serif;
	    }
	    .bloque2{
	    	position: relative;
	        float:left;
	      	margin-left: 5%;
          	font: small-caps 100%/100% serif;
	    }
	    .bloque3{
          	position: relative;
	    	float:left;
	    	margin-left: 5%;
          	font: small-caps 100%/100% serif;
	    }
	    .bloque4{
          	position: static;
	    	float:left;
	    	margin-top: 0%;
	    	margin-left: 5%;
	    	  margin-bottom: 5%;
          	font: small-caps 100%/100% serif;
        }
        .acomodarFirmas{
            position: static;
            float:left;
            width: 100%;
	    	margin-top: 3%;
        }
        .oreden1:before {
            content: "<%=resp[0].diagnostico%>";
            float: left;
            padding-left: 5%;
        }
        .areInternacion:before {
            content: "Áre de Internación: <%=especialidad[0].nombre%>";
            font-weight: negrita;
            color:black;
            width: 50%;   
            float: left;
            padding-left: 5%;
        }
        .fechao:before{
            content: "Fecha de Ingreso <%=resp[0].fechaIngreso%>";
            font-weight: negrita;
            color:black;
            width: 30%;
            float: right;
        }
        .acomodar{
            width: 100%;
            float: left;
        }
            
    }
/*   <% } %>     */
</style>
    <script>
    /*  <%if(msg) { %> */
          /*  <%if(msg.data.success == false) { %> */
            msg_false()
               function msg_false(){
                 swal.fire(
                   'Error!',
                   '<label style="color:red;">'+`<%=msg.data.msg%>`+'</label>',
                   'error'
                 )
               }
           /* <% } else {%> */
               msg_true()
               function msg_true(){
                 swal.fire(
                   'Confirmado!',
                   '<label style="color:green;">'+ `<%=msg.data.msg%>` +'</label>',
                   'success'
                 )
               }
          /*  <% } %> */
        /*  <% } %> */
    </script>
    <script src="/moment/moment.js"></script>
	<script src="/moment/locale/af.js"></script>
    <script src="/url/export.js"></script>
    <script src="/js/reloj.js"></script>
    <script>
        const papeleta = new Vue({
            el: '#papeleta', 
            data : () => ({
                url:data_url.url_front_end,
                msg:'aljand',
                one_p:'',
                fecha:''
            }),
            mounted(){
                this.fecha = moment().format('l'); 
            },
            methods:{
                one_papeleta(id_p){
                    fetch(this.url+'/consulta_externa/VUE_One_p/'+id_p)
                    .then(res => res.json())
                    .catch(error => console.error('Error:', error))
                    .then(data => { 
                        this.one_p = data[0]
                        console.log(this.one_p)
                    })
                }
            }
        })
    </script>
    
</body>

</html>