<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Emergencias</title>
<%- include("./partials/head") -%>
<link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">

</head>
<body class="light_theme  fixed_header left_nav_fixed" onload="actualizaReloj()">
<div class="wrapper">
<!--Navegation-->
  <div class="header_bar">
    <div class="brand">
      <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
        
    </div>
    <div class="header_top_bar">
      <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
      <li href="javascript:void(0);" class="btn btn-info " data-toggle="modal" data-target="#diagnostico"><i class="fa fa-plus-square"></i> <span> Diagnostico</span> </li>

      <div class="top_right_bar">
        <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">  <%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%></span> <b class="caret"></b> </a>
          <ul class="dropdown-menu">
            <div class="top_pointer"></div>
            
            <li> <a href="/delete_token/<%=data_doc.data.token_id%>"><i class="fa fa-power-off"></i> Cerrar sesión</a> </li>
          </ul>
        </div>
      
      </div>
    </div>
  </div>
  <div class="inner">
   <!--Menu-->
    <div class="left_nav">
      <div class="left_nav_slidebar">
        <ul>
	  		  <li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="plus"><i class="fa fa-plus"></i></span> </a>
	  		    <ul >
	  		      <li> <a href="/emergencia2.0/home/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b >Inicio </b> </a> </li>
	  		    </ul>
	  	  	</li>
	  		  <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Emergencias<span class="left_nav_pointer"></span>  <span class="plus"><i class="fa fa-plus"></i></span></a>
	  	    	<ul class="opened" style="display:block">
	  		      <li> <a href="/emergencia2.0/lista_pacientes/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Listas de Cita</b> </a> </li>
	  		    </ul>
          </li>
         
          <li > <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Reportes<span class="plus"><i class="fa fa-plus"></i></span></a>
            <ul >
              <li> <a href="/emergencia2.0/historialGeneral"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Historial Clínico </b>  </a> </li>
              <li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Vicitas al doctor</b>  </a> </li>
              <li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Lista Recetas</b>  </a> </li>
            </ul>
          </li>
        
        </ul>
      </div>
    </div>
    <div class="contentpanel">
      <div class="container clear_both padding_fix ">
      <br>
        <div class="col-lg-12 block-web">
          <div class="head" id="">
              <di class="actions">
                  <a href="/emergencia2.0/lista_pacientes/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>" class="list-group-item  blue_bg text-center "><i class="fa fa-hand-o-left"></i> ATRAS</a>	
                </di>
            <div class="header">
              
              <div class="info blue_symbols"><i class="fa fa-medkit icon"></i></div>
              <h2 class="content-header ">Registro de Consulta<span class="semi-bold">/Emergencias</span></h>
            </div>
            <div id="" class="col-md-2">	
              
             			
            </div>
          </div>
        </div>
	 
		    <div class="">
		  	  <div class="" id="consulta_emergencia">
<!-- 
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                            Modal de diagnostico
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
            -->
            <div class="modal fade" id="diagnostico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">Diagnosticos</h4>
                      </div>
                      <div class="modal-body"> 
                        <div id="div2">
                         <template v-if=" !one_cita_emergencia"> 
                              <div class="row">
                                  <div class="col-md-12">
                                      <ul class="list-group">
                                          <li class="list-group-item">
                                              <input type="text" placeholder="Buscar" class="form-control" v-model="data">
                                          </li>
                                          <li class="list-group-item" v-for="list in buscar">
                                               <a @click="insertar(list.codigo)" data-dismiss="modal">{{list.codigo}}  {{list.descripcion}}</a>
                                          </li>
                                      </ul>
                                  </div>  
                              </div>
                        </template>
                          
                        <template v-else>
                              <div class="row">
                                  <div class="col-md-12">
                                      <ul class="list-group">
                                          <li class="list-group-item">
                                              <input type="text" placeholder="Buscar" class="form-control" v-model="data">
                                          </li>
                                          <li class="list-group-item" v-for="list in buscar">
                                               <a @click="insertar_update(list.codigo)">{{list.codigo}}  {{list.descripcion}}</a>
                                          </li>
                                      </ul>
                                  </div>  
                              </div>
                          </template>  
                        </div>  
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- 
            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                modal data
            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<                    
           -->
         
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                
                  <label class="control-label">Doctor: {{one_consulta.nombreDoctor}} {{one_consulta.apellidoD1}} {{one_consulta.apellidoD2}}</label> <br>
                  <p class="modal-title" >Paciente: {{one_consulta.nombre}} {{one_consulta.apellidop}} {{one_consulta.apellidom}}</p>
                  <p class="modal-title">Historial del Paciente: {{one_consulta.Nhistorial}}</p>

                </div>

                <div class="row">
                  <div class="col-xs-12 "> 
                    <h4 class="text-center">Estado del Paciente</h4>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <label class="control-label">Motivo de Consulta:</label>
                        <textarea class="form-control" readonly cols="100" rows="5">{{one_consulta.motivoConsulta}}</textarea>
                      </div>                     
                    </div>
                    <div class="form-group">
                      <div class="col-sm-6">
                        <label class="control-label">Tratamiento:</label>
                        <textarea class="form-control" readonly cols="100" rows="5">{{one_consulta.tratamiento}}</textarea>
                      </div>
                      <div class="col-sm-6">
                        <label class="control-label">Observacione:</label>
                        <textarea class="form-control" readonly cols="100" rows="5">{{one_consulta.observaciones}}</textarea>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-lg-12">
                          <section class="panel default blue_title h2">
                            
                              <div class="panel-body">
                                  <h5 class="text-center">Diagnostico del paciente</h5>
                                <div class="table-responsive">
                                  <table class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th>#</th>
                                        <th>Codigo</th>
                                        <th>Descripcion</th>
                                        <th>Observacione</th>
                                      
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr v-for="(list, index) in one_consulta.diagnostico">
                                        <td>{{index+1}}</td>
                                        <td>{{list.codigo}}</td>
                                        <td>{{list.descripcion}}</td>
                                        <td>{{list.observaciones}}</td>
                                        
                                      </tr>

                                    </tbody>
                                  </table>
                                </div>
                              </div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- 
            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<                    
           -->

		  		<div class="">
		  			<section class="panel default blue_title h2">
		  				<div class="">
		  					<ul class="nav nav-tabs" id="myTab">
		  						<li class=" col-lg-6 active active  text-center"><a data-toggle="tab" href="#Tab1"> <i class="fa fa-pencil-square-o "></i><span>&nbsp;&nbsp;&nbsp;</span>Registro de Consulta</a></li>
		  						<li class="col-lg-6 text-center" ><a  data-toggle="tab" href="#Tab2" > <i class="fa fa-list-ol "></i><span>&nbsp;&nbsp;&nbsp;</span>Lista de Consultas</a></li>
		  					</ul>
		  					<div class="tab-content" id="myTabContent">
		  						<div id="Tab1" class="tab-pane fade in active">
		  							<div class="" >
                      <% if(msg != null) { %>
                        <% if(msg.data.success == true) { %>
                          <span style="color: blue"> <%=msg.data.data%></span>
                        <% } else { %>
                          <span style="color: red"> <%=msg.data.data%></span>
                        <% } %>  
                      <% } %>
		  								<div class="block-web">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-9 row">
                                    
                              <div class="col-md-6 ">
                                <div class=" panel panel-default">
                                    <li href="#ac3-1" data-parent="#accordion3" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos Personales</li>            
                                </div>
                                <div style="height: 0px;" id="ac3-1" class="panel-collapse collapse">
                                  <div class=""> 
                                    <div class="col-md-5 row">
                                      <div class="entrada ">
                                        <label class=" ">N° de Historia:</label><p><b><%=dataPaciente[0].numeroHistorial%></b></p>
                                        <input type="hidden" :value="Nhistorial = '<%=dataPaciente[0].numeroHistorial%>'">
                                        <input type="hidden" :value="nombreDoctor = '<%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%> <%=data_doc.data.medico.apellidom%>'">
                                        <input type="hidden" :value=" idDoctor = '<%=data_doc.data.medico.id%>'">
                                        <input type="hidden" :value="idCita = '<%=id_cita%>'" >
                                        <input type="hidden" :value="hora = '<%=cita[0].hora%>'">
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="entrada">
                                        <label class=" ">CI.:</label><p><b><%=dataPaciente[0].ci%></b></p>
                                      </div>
                                    </div>
                                    <div class="col-sm-4 col-sm-4">
                                      <div class="entrada">
                                        <label class=" "> Sexo: </label><p><b><%=dataPaciente[0].sexo%></b></p>
                                      </div>
                                    </div>
                                    <div class="col-sm-7 col-sm-9 row">
                                      <div class="entrada">
                                        <label class="">Fecha de Nacimiento:</label><p><b><%=dataPaciente[0].fechanacimiento%></b></p>
                                      </div>
                                    </div> 
                                    <div class=" row">
                                      <div class="entrada">
                                        <label class=" ">Nombre Completo:</label><p><b><%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%></b></p>
                                      </div> 
                                    </div> 
                                    
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 panel panel-default">
                                <div class=" panel panel-default">
                                  <li href="#ac3-2" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos del Médico</li>            
                                </div>
                                <div style="height: 0px;" id="ac3-2" class="panel-collapse collapse">
                                  <div class="col-sm-12 row">
                                    <div class=" col-sm-5 ">
                                    </div> 
                                    <div class=" col-sm-12 ">
                                      <div class="col-sm- 12 col-sm-12">
                                        <div class="entrada">
                                          <label class="">Nombre del Médico:</label><p><b><%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%> <%=data_doc.data.medico.apellidom%></b></p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>               
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="file_sidebar">   
                                <li href="#collapse" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Detalles del Paciente</li>            
                                <div class="file_sidebar_list panel-collapse collapse "   id="collapse" style="height: auto;">
                                  <ul>
                                    <li><a href="/emergencia2.0/datos_responsable/<%=dataPaciente[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>/<%=id_cita%>" ><i class="fa fa-building-o"></i>Datos de responsable</a></li>
                                    <li><a href="/emergencia2.0/alergias/<%=dataPaciente[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>/<%=id_cita%>"><i class="fa fa-user"></i>Datos de Interes</a></li>
                                    <li><a href="/emergencia2.0/examen_fisico/<%=dataPaciente[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>/<%=id_cita%>"><i class="fa fa-users"></i>Examen General</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div> 
                          </div>  
                        </div>
                        
                        <!-- <textarea name="" id="" cols="30" rows="10">{{$data}}</textarea> -->

                        <!-- 
                          <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                          <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                  formulario de registro de emergencia
                          <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                          <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                         -->
                        <template v-if="!one_cita_emergencia ">
                          <form @submit="registrar_emeregencia" parsley-validate novalidate>
                            <div class="col-md-12">
  
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Motivo de consulta</label>
                                    
                                        <textarea name="" id="" cols="10" rows="4" required placeholder="Introduzaca motivo de consulta" class="form-control" v-model = "motivoConsulta"onkeyup="mayus(this);" ></textarea>
                                    </div><!--/form-group-->
                                </div> 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tratamiento</label>
  
                                        <textarea name="" id="" cols="10" rows="4" required placeholder="Introduzaca el tratamiento" class="form-control" v-model = "tratamiento" onkeyup="mayus(this);"></textarea>
                                    </div><!--/form-group-->
                                </div>    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Observaciones</label>
  
                                        <textarea name="" id="" cols="10" rows="4" required placeholder="Introduzaca las Observaciones" class="form-control" v-model = "observaciones" onkeyup="mayus(this);"></textarea>
                                    </div><!--/form-group-->
                                </div> 
  
                                <template v-for="(list,index) of diagnostico">
  
                                    <div class="col-md-4">
                                        <section class="panel default orange_border vertical_border h1">
                                            <div class="task-header orange_task">{{list.codigo}}<span><i></i><font size="2">{{list.descripcion}}</font></span> </div>
                                            <div class="row task_inner inner_padding">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Observaciones</label>
                                                            <textarea rows="10" class="form-control" v-model="list.observaciones" onkeyup="mayus(this);"></textarea>                                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="task-footer row">
                                                <div class="col-md-4 ">
                                                    <a @click="eliminarDiag(index)" class="btn btn-success " style='width:83px; height:30px'><i class="fa fa-times-circle"></i><font size="1"> Quitar</font></a>	
                                      </div>
                                            </div>
                                        </section>
                                    </div> 
  
                                </template> 
  
                            </div>
                            
                           
                            <button href="javascript:void(0);" data-toggle="modal" data-target="#Alerta" type="submit" class="btn btn-success btn-raised" style="margin-right: 20px;"><i class='fa fa-save'></i>&nbsp;&nbsp; Guardar</button>
                            <button type="submit" class="btn btn-danger btn-raised" style="margin-right: 20px;"><i class='fa fa-times'></i>&nbsp;&nbsp; Cancelar</button>
  
                          </form>
                        </template>
                        <template v-else>
                            
                            <form @submit = "update_cita" parsley-validate novalidate>
                              <div class="col-md-12">
    
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <label>Motivo de consulta</label>
                                      
                                          <textarea cols="10" rows="4" required placeholder="Introduzaca motivo de consulta" class="form-control" v-model = "one_cita_emergencia.motivoConsulta"onkeyup="mayus(this);" ></textarea>
                                      </div><!--/form-group-->
                                  </div> 
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label>Tratamiento</label>
    
                                          <textarea  cols="10" rows="4" required placeholder="Introduzaca el tratamiento" class="form-control" v-model = "one_cita_emergencia.tratamiento" onkeyup="mayus(this);"></textarea>
                                      </div><!--/form-group-->
                                  </div>    
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label>Observaciones</label>
    
                                          <textarea cols="10" rows="4" required placeholder="Introduzaca las Observaciones" class="form-control" v-model = "one_cita_emergencia.observaciones" onkeyup="mayus(this);"></textarea>
                                      </div><!--/form-group-->
                                  </div> 
                                  
                                  <template v-for="(list,index) of one_cita_emergencia.diagnostico">
    
                                      <div class="col-md-4">
                                          <section class="panel default orange_border vertical_border h1">
                                              <div class="task-header orange_task">{{list.codigo}}<span><i></i><font size="2">{{list.descripcion}}</font></span> </div>
                                              <div class="row task_inner inner_padding">
                                                  <div class="row">
                                                      <div class="col-md-12">
                                                          <div class="form-group">
                                                              <label>Observaciones</label>
                                                              <textarea rows="10" class="form-control" v-model="list.observaciones" onkeyup="mayus(this);"></textarea>                                                                    
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="task-footer row">
                                                  <div class="col-md-4 ">
                                                      <a @click="eliminarDiag_update(index)" class="btn btn-success " style='width:83px; height:30px'><i class="fa fa-times-circle"></i><font size="1"> Quitar</font></a>	
                                        </div>
                                              </div>
                                          </section>
                                      </div> 
    
                                  </template> 
    
                              </div>
                              
                            <template v-if="one_cita_emergencia.estado_update != false ">
                              <button href="javascript:void(0);" data-toggle="modal" data-target="#Alerta" type="submit" class="btn btn-success btn-raised" style="margin-right: 20px;"><i class='fa fa-save'></i>&nbsp;&nbsp; Guardar</button>
                              <button type="submit" class="btn btn-danger btn-raised" style="margin-right: 20px;"><i class='fa fa-times'></i>&nbsp;&nbsp; Cancelar</button>
    
                            </template>
                             
                            </form>
                        </template>
                        <div class="form-group" v-if ="one_cita_emergencia" >
                          <div class="col-sm-4">
                            <a :href="'/emergencia2.0/receta/'+ one_cita_emergencia.id +'/<%=dataPaciente[0].numeroHistorial%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>/<%=id_cita%>'" class="btn btn-primary btn-default btn-block bs">Receta<span>&nbsp;</span><i class="fa fa-pencil-square-o "></i></a>
                          </div>
                          <div class="col-sm-4">
                            <a :href="'/emergencia2.0/papeleta_internacion/'+ one_cita_emergencia.id +'/<%=dataPaciente[0].numeroHistorial%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>/<%=id_cita%>'"  class="btn btn-primary btn-default btn-block bs" >Orden de Internación<span>&nbsp;</span><i class="fa fa-wheelchair" ></i></a>
                          </div>
                          <div class="col-sm-4">
                            <a :href="'/laboratorios/lab_emergencia/'+one_cita_emergencia.id+'/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>/<%=id_cita%>'"  class="btn btn-primary btn-default btn-block bs" >Examenes Complementarios<span>&nbsp;</span><i class="fa fa-eye" ></i></a></td>
                          </div>
                        </div>
                       
                      </div>
		  							</div> 
                  </div>
                  <!--<>>>>>>>>>>>>>>>>>>>>LISTA DE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
		  						<div id="Tab2" class="tab-pane fade">
		  							<div class="">
		  									<div class="">
		  										<div class="">
                              <div class="table-responsive">
                                  <table  class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                      <tr>
                                        <th>#</th>
                                        <th>Fecha de Atención</th>
                                        <th>Nombre</th>
                                        <th>Primer Apellido </th>
                                        <th>Segundo Apellido </th>                                       
                                        <th>Opciones</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                       <% for ( var i=0; i < consultasEmergencia.length; i++) {%>
                                       <tr>
                                        <td><%= i+1%></td>
                                        <td><%=consultasEmergencia[i].fechaAtencion%></td>
                                        <td><%=consultasEmergencia[i].Citas_Medica.Paciente.nombre%></td>
                                        <td><%=consultasEmergencia[i].Citas_Medica.Paciente.apellidop%></td>
                                        <td><%=consultasEmergencia[i].Citas_Medica.Paciente.apellidom%></td>
                                        <td class="text-center"> 
                                          <a href="javascript:void(0);" @click="One_consulta(<%=consultasEmergencia[i].id%>)" class="btn  tooltips" data-toggle="modal" data-target="#myModal" data-original-title="Ver Consulta"> <i class="fa fa-eye" style="color:black"></i>  </a>
                                        </td>


                                      </tr>
                                        <% } %>                                               
                                    </tbody> 
                                  </table>
                              </div>
		  										</div>
                        </div> 
                      
                      
                    </div>              
                  </div><!--fin de la seguna pestaña-->

                </div>
              </div>
		  			</section>
		  		</div>
		  	  </div>
		    </div>
      </div>
    </div>
  
  

  </div>
</div>

<!--====== Scripts -->
<%- include("../partials/scripts") -%>
<script src="/js/vue/consulta_emergencia.js"></script>
</body>
</html>